/* Reset */
.karlSkin table, .karlSkin tbody, .karlSkin a, .karlSkin img, .karlSkin tr, .karlSkin div, .karlSkin td, .karlSkin iframe, .karlSkin span, .karlSkin *, .karlSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.karlSkin a:hover, .karlSkin a:link, .karlSkin a:visited, .karlSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.karlSkin table td {vertical-align:middle}

/* Containers */
.karlSkin table {background:#F0F0EE}
.karlSkin iframe {display:block; background:#FFF}
.karlSkin .mceToolbar {height:26px}
.karlSkin .mceLeft {text-align:left}
.karlSkin .mceRight {text-align:right}

/* External */
.karlSkin .mceExternalToolbar {position:absolute; border:1px solid #CCC; border-bottom:0; display:none;}
.karlSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.karlSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.karlSkin table.mceLayout {border:0; border-left:1px solid #CCC; border-right:1px solid #CCC}
.karlSkin table.mceLayout tr.mceFirst td {border-top:1px solid #CCC}
.karlSkin table.mceLayout tr.mceLast td {border-bottom:1px solid #CCC}
.karlSkin table.mceToolbar, .karlSkin tr.mceFirst .mceToolbar tr td, .karlSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0;}
.karlSkin td.mceToolbar {padding-top:1px; vertical-align:top}
.karlSkin .mceIframeContainer {border-top:1px solid #CCC; border-bottom:1px solid #CCC}
.karlSkin .mceStatusbar {font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:#000; display:block; height:20px}
.karlSkin .mceStatusbar div {float:left; margin:2px}
.karlSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../img/icons.gif) -800px 0; width:20px; height:20px; cursor:se-resize}
.karlSkin .mceStatusbar a:hover {text-decoration:underline}
.karlSkin table.mceToolbar {margin-left:3px}
.karlSkin span.mceIcon, .karlSkin img.mceIcon {display:block; width:20px; height:20px}
.karlSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}
.karlSkin td.mceCenter {text-align:center;}
.karlSkin td.mceCenter table {margin:0 auto; text-align:left;}
.karlSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.karlSkin .mceButton {display:block; border:1px solid #F0F0EE; width:20px; height:20px; margin-right:1px}
.karlSkin a.mceButtonEnabled:hover {border:1px solid #0A246A; background-color:#B2BBD0}
.karlSkin a.mceButtonActive, .karlSkin a.mceButtonSelected {border:1px solid #0A246A; background-color:#C2CBE0}
.karlSkin .mceButtonDisabled .mceIcon {opacity:0.3; filter:alpha(opacity=30)}
.karlSkin .mceButtonLabeled {width:auto}
.karlSkin .mceButtonLabeled span.mceIcon {float:left}
.karlSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.karlSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.karlSkin .mceSeparator {display:block; background:url(../../img/icons.gif) -180px 0; width:2px; height:20px; margin:2px 2px 0 4px}

/* ListBox */
.karlSkin .mceListBox {direction:ltr}
.karlSkin .mceListBox, .karlSkin .mceListBox a {display:block}
.karlSkin .mceListBox .mceText {padding-left:4px; width:70px; text-align:left; border:1px solid #CCC; border-right:0; background:#FFF; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; height:20px; line-height:20px; overflow:hidden}
.karlSkin .mceListBox .mceOpen {width:9px; height:20px; background:url(../../img/icons.gif) -741px 0; margin-right:2px; border:1px solid #CCC;}
.karlSkin table.mceListBoxEnabled:hover .mceText, .karlSkin .mceListBoxHover .mceText, .karlSkin .mceListBoxSelected .mceText {border:1px solid #A2ABC0; border-right:0; background:#FFF}
.karlSkin table.mceListBoxEnabled:hover .mceOpen, .karlSkin .mceListBoxHover .mceOpen, .karlSkin .mceListBoxSelected .mceOpen {background-color:#FFF; border:1px solid #A2ABC0}
.karlSkin .mceListBoxDisabled a.mceText {color:gray; background-color:transparent;}
.karlSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.karlSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.karlSkin .mceOldBoxModel .mceListBox .mceOpen {width:11px; height:22px;}
.karlSkin select.mceNativeListBox {font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:7pt; background:#F0F0EE; border:1px solid gray; margin-right:2px;}

/* SplitButton */
.karlSkin .mceSplitButton {width:32px; height:20px; direction:ltr}
.karlSkin .mceSplitButton a, .karlSkin .mceSplitButton span {height:20px; display:block}
.karlSkin .mceSplitButton a.mceAction {width:20px; border:1px solid #F0F0EE; border-right:0;}
.karlSkin .mceSplitButton span.mceAction {width:20px; background:url(../../img/icons.gif) 20px 20px;}
.karlSkin .mceSplitButton a.mceOpen {width:9px; border:1px solid #F0F0EE;}
.karlSkin .mceSplitButton span.mceOpen {width:9px; background:url(../../img/icons.gif) -741px 0;}
.karlSkin table.mceSplitButtonEnabled:hover a.mceAction, .karlSkin .mceSplitButtonHover a.mceAction, .karlSkin .mceSplitButtonSelected a.mceAction {border:1px solid #0A246A; border-right:0; background-color:#B2BBD0}
.karlSkin table.mceSplitButtonEnabled:hover a.mceOpen, .karlSkin .mceSplitButtonHover a.mceOpen, .karlSkin .mceSplitButtonSelected a.mceOpen {border:1px solid #0A246A;}
.karlSkin table.mceSplitButtonEnabled:hover span.mceOpen, .karlSkin .mceSplitButtonHover span.mceOpen, .karlSkin .mceSplitButtonSelected span.mceOpen {background-color:#B2BBD0}
.karlSkin .mceSplitButtonDisabled .mceAction, .karlSkin .mceSplitButtonDisabled span.mceOpen {opacity:0.3; filter:alpha(opacity=30)}
.karlSkin .mceSplitButtonActive a.mceAction {border:1px solid #0A246A; background-color:#C2CBE0}
.karlSkin .mceSplitButtonActive a.mceOpen {border-left:0;}

/* ColorSplitButton */
.karlSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.karlSkin .mceColorSplitMenu td {padding:2px}
.karlSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.karlSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.karlSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.karlSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.karlSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.karlSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a}
.karlSkin .mce_forecolor span.mceAction, .karlSkin .mce_backcolor span.mceAction {overflow:hidden; height:16px}

/* Menu */
.karlSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #D4D0C8}
.karlSkin .mceNoIcons span.mceIcon {width:0;}
.karlSkin .mceNoIcons a .mceText {padding-left:10px}
.karlSkin .mceMenu table {background:#FFF}
.karlSkin .mceMenu a, .karlSkin .mceMenu span, .karlSkin .mceMenu {display:block}
.karlSkin .mceMenu td {height:20px}
.karlSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.karlSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.karlSkin .mceMenu span.mceText, .karlSkin .mceMenu .mcePreview {font-size:11px}
.karlSkin .mceMenu pre.mceText {font-family:Monospace}
.karlSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.karlSkin .mceMenu .mceMenuItemEnabled a:hover, .karlSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.karlSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.karlSkin .mceMenuItemTitle a {border:0; background:#EEE; border-bottom:1px solid #DDD}
.karlSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.karlSkin .mceMenuItemDisabled .mceText {color:#888}
.karlSkin .mceMenuItemSelected .mceIcon {background:url(img/menu_check.gif)}
.karlSkin .mceNoIcons .mceMenuItemSelected a {background:url(img/menu_arrow.gif) no-repeat -6px center}
.karlSkin .mceMenu span.mceMenuLine {display:none}
.karlSkin .mceMenuItemSub a {background:url(img/menu_arrow.gif) no-repeat top right;}

/* Progress,Resize */
.karlSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; filter:alpha(opacity=50); background:#FFF}
.karlSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}
.karlSkin .mcePlaceHolder {border:1px dotted gray}

/* Formats */
.karlSkin .mce_formatPreview a {font-size:10px}
.karlSkin .mce_p span.mceText {}
.karlSkin .mce_address span.mceText {font-style:italic}
.karlSkin .mce_pre span.mceText {font-family:monospace}
.karlSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.karlSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.karlSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.karlSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.karlSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.karlSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.karlSkin span.mce_bold {background-position:0 0}
.karlSkin span.mce_italic {background-position:-60px 0}
.karlSkin span.mce_underline {background-position:-140px 0}
.karlSkin span.mce_strikethrough {background-position:-120px 0}
.karlSkin span.mce_undo {background-position:-160px 0}
.karlSkin span.mce_redo {background-position:-100px 0}
.karlSkin span.mce_cleanup {background-position:-40px 0}
.karlSkin span.mce_bullist {background-position:-20px 0}
.karlSkin span.mce_numlist {background-position:-80px 0}
.karlSkin span.mce_justifyleft {background-position:-460px 0}
.karlSkin span.mce_justifyright {background-position:-480px 0}
.karlSkin span.mce_justifycenter {background-position:-420px 0}
.karlSkin span.mce_justifyfull {background-position:-440px 0}
.karlSkin span.mce_anchor {background-position:-200px 0}
.karlSkin span.mce_indent {background-position:-400px 0}
.karlSkin span.mce_outdent {background-position:-540px 0}
.karlSkin span.mce_link {background-position:-500px 0}
.karlSkin span.mce_unlink {background-position:-640px 0}
.karlSkin span.mce_sub {background-position:-600px 0}
.karlSkin span.mce_sup {background-position:-620px 0}
.karlSkin span.mce_removeformat {background-position:-580px 0}
.karlSkin span.mce_newdocument {background-position:-520px 0}
.karlSkin span.mce_image {background-position:-380px 0}
.karlSkin span.mce_help {background-position:-340px 0}
.karlSkin span.mce_code {background-position:-260px 0}
.karlSkin span.mce_hr {background-position:-360px 0}
.karlSkin span.mce_visualaid {background-position:-660px 0}
.karlSkin span.mce_charmap {background-position:-240px 0}
.karlSkin span.mce_paste {background-position:-560px 0}
.karlSkin span.mce_copy {background-position:-700px 0}
.karlSkin span.mce_cut {background-position:-680px 0}
.karlSkin span.mce_blockquote {background-position:-220px 0}
.karlSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.karlSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.karlSkin span.mce_forecolorpicker {background-position:-720px 0}
.karlSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.karlSkin span.mce_advhr {background-position:-0px -20px}
.karlSkin span.mce_ltr {background-position:-20px -20px}
.karlSkin span.mce_rtl {background-position:-40px -20px}
.karlSkin span.mce_emotions {background-position:-60px -20px}
.karlSkin span.mce_fullpage {background-position:-80px -20px}
.karlSkin span.mce_fullscreen {background-position:-100px -20px}
.karlSkin span.mce_iespell {background-position:-120px -20px}
.karlSkin span.mce_insertdate {background-position:-140px -20px}
.karlSkin span.mce_inserttime {background-position:-160px -20px}
.karlSkin span.mce_absolute {background-position:-180px -20px}
.karlSkin span.mce_backward {background-position:-200px -20px}
.karlSkin span.mce_forward {background-position:-220px -20px}
.karlSkin span.mce_insert_layer {background-position:-240px -20px}
.karlSkin span.mce_insertlayer {background-position:-260px -20px}
.karlSkin span.mce_movebackward {background-position:-280px -20px}
.karlSkin span.mce_moveforward {background-position:-300px -20px}
.karlSkin span.mce_media {background-position:-320px -20px}
.karlSkin span.mce_nonbreaking {background-position:-340px -20px}
.karlSkin span.mce_pastetext {background-position:-360px -20px}
.karlSkin span.mce_pasteword {background-position:-380px -20px}
.karlSkin span.mce_selectall {background-position:-400px -20px}
.karlSkin span.mce_preview {background-position:-420px -20px}
.karlSkin span.mce_print {background-position:-440px -20px}
.karlSkin span.mce_cancel {background-position:-460px -20px}
.karlSkin span.mce_save {background-position:-480px -20px}
.karlSkin span.mce_replace {background-position:-500px -20px}
.karlSkin span.mce_search {background-position:-520px -20px}
.karlSkin span.mce_styleprops {background-position:-560px -20px}
.karlSkin span.mce_table {background-position:-580px -20px}
.karlSkin span.mce_cell_props {background-position:-600px -20px}
.karlSkin span.mce_delete_table {background-position:-620px -20px}
.karlSkin span.mce_delete_col {background-position:-640px -20px}
.karlSkin span.mce_delete_row {background-position:-660px -20px}
.karlSkin span.mce_col_after {background-position:-680px -20px}
.karlSkin span.mce_col_before {background-position:-700px -20px}
.karlSkin span.mce_row_after {background-position:-720px -20px}
.karlSkin span.mce_row_before {background-position:-740px -20px}
.karlSkin span.mce_merge_cells {background-position:-760px -20px}
.karlSkin span.mce_table_props {background-position:-980px -20px}
.karlSkin span.mce_row_props {background-position:-780px -20px}
.karlSkin span.mce_split_cells {background-position:-800px -20px}
.karlSkin span.mce_template {background-position:-820px -20px}
.karlSkin span.mce_visualchars {background-position:-840px -20px}
.karlSkin span.mce_abbr {background-position:-860px -20px}
.karlSkin span.mce_acronym {background-position:-880px -20px}
.karlSkin span.mce_attribs {background-position:-900px -20px}
.karlSkin span.mce_cite {background-position:-920px -20px}
.karlSkin span.mce_del {background-position:-940px -20px}
.karlSkin span.mce_ins {background-position:-960px -20px}
.karlSkin span.mce_pagebreak {background-position:0 -40px}
.karlSkin .mce_spellchecker span.mceAction {background-position:-540px -20px}

