.idea*
*.pyc
*.egg-info
*.pt.py
*.html.py
.coverage
trace_file
.*.sw?
.sw?
dist
*-ck.js
node_modules
/log
*.sublime-project
*.sublime-workspace

unit-test-results.xml

bin
develop-eggs
eggs
.installed.cfg
.mr.developer.cfg

email_tracer.py
deploy.cfg

etc/crontab
etc/identity_providers.yaml
etc/pack_karl.conf
etc/pack_postoffice.conf
etc/whitelist.txt
