.cal div.hov_below {
  background-color: #ecf2ff !important;
}
ul#header-menu li a {
    background: transparent url(images/corners.png) no-repeat left -4px;
    padding: 5px 9px 4px 27px;
}

.addtag-button span {
    line-height: 22px !important;
    background-position: left -25px !important;
    padding: 5px 5px 3px 10px !important;
}
.addtag-button span {
    line-height: 22px !important;
    background-position: left -25px !important;
    padding: 5px 5px 3px 10px !important;
    position: relative;
    top: 0px !important;
}
#tag-inputbox input {
    margin-top: 1px !important;
}
#tags--field input {
    margin-top: 0px !important;
}
#tags--field .addtag-button,
#save-tags--field .addtag-button {
    background: #ffffff url(images/corners.png) no-repeat right -25px;
}
.cal_buttons .menubar .todayButton a,
.cal_buttons .menubar .todayButton a:hover,
.cal_buttons .menubar .todayButton a:active,
.cal_buttons .menubar .todayButton a.disabled,
.cal_buttons .menubar .todayButton a.disabled:hover,
.cal_buttons .menubar .todayButton a.disabled:active {
    padding: 4px 2px 6px 0;
}
.cal_buttons .previous span,
.cal_buttons .next span {
    top: 0px;
}
.cal_buttons .menubar li,
#feed-filters ul li {
    height: 21px;
}
#poll-indicator.on span {
    background: #ffffff url(images/corners.png) no-repeat left -25px;
    padding: 7px 5px 1px 13px;
    line-height: 24px;
    height: 24px;
}
#poll-indicator.polling span {
    background: #ffffff url(images/corners.png) no-repeat left -25px;
    padding: 8px 5px 0px 13px;
    line-height: 22px;
    height: 22px;
}
#poll-indicator.off span {
    background: #ffffff url(images/corners.png) no-repeat left -91px;
    padding: 7px 5px 1px 13px;
    line-height: 22px;
    height: 22px;
}
#poll-indicator.error span {
    background: #ffffff url(images/corners.png) no-repeat left -91px;
    padding: 8px 5px 0px 13px;
    line-height: 23px;
    height: 23px;
}