
/**
* KARL UI resource composition
* You have to use juicer to produce a minified resource based on this file
* You can also use this file as a development resource
*
*/

/* jquery-ui */
@import url("min/jquery-ui-1.9m3.karl.smoothness.css");
@import url("jquery-ui/autobox2/jquery.ui.autobox.css");

/* KARL plugins */
@import url("karl-plugins/karl-multistatusbox/karl.multistatusbox.css");
@import url("karl-plugins/karl-captionedimage/karl.captionedimage.css");
@import url("karl-plugins/karl-buttonset/karl.buttonset.css");

/* customize jquery-ui */
@import url("jquery-ui/ui.custom.css");
@import url("custom.css");

