
/* Calendar. Import the base styles and
 * trim them down a little. */

@import url("calendar.css");



/* Hide unwanted elements */
#header, #footer, #spo-header, #cheader, #backto, #crightcol, #left, ul.peopleTabs, #right {display:none}
.cheader, .chactions, .kalphabetlisting, .search_utility_bar, .kpagination_frame {display:none}

.cal_search_header {
    display: none;
}

/* Make sure our content doesn't get cut its right margin cut off */
.ccontent {width:75%;}

/* Supress background and border styling  */
#main {
background:#FFFFFF;
border-bottom:0px;
margin:0px auto;
padding-bottom:0px;
padding-top:5px;
padding-left:15px;
text-align:left;
width:100%;
}

.community_view #cleftcol .ccontent, .peopleSearchWrapper {
background-color:white !important;;
border-color:-moz-use-text-color #FFFFFF rgb(206, 206, 206);
border-style:none none none none;
border-width:0px 0px 0px 0px;
margin-top:0px;
padding:0px 0px 0px 0px;
}

#center {
background-color:#FFFFFF;
border:0px solid #FFFFFF;
margin:0px;
overflow:hidden;
padding:0px;
float:none;
width: auto;
/* position:relative; */
}

.community_view #cwrapper {
background-color:#FFFFFF;
clear:both;
margin-top:0px;
}

#cwrapper {
background-color:#FFFFFF;
clear:both;
margin-top:0px;
}

html, body#login-wrapper {
background:#FFFFFF !important;
height:95%;
}

.visual-portal-wrapper {
margin:0px 0px 0px 0px;
text-align:none;
width:95%;
}

.profile_page_body {
width:50%;
}

/* Calendar trim down. */

.karl-calendar-printing .rightcol,
.karl-calendar-printing .cal_header,
.karl-calendar-printing .cal_footer,
.karl-calendar-printing .cal_actions,
.karl-calendar-printing .ui-selectmenu-menu {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
}
.karl-calendar-printing .visual-portal-wrapper {
    background-color: white !important;
    margin: 0 20px !important;
    padding: 0 !important;
    border: 0 !important;
    width: auto !important;
}
.karl-calendar-printing #cleftcol,
.karl-calendar-printing #cheader,
.karl-calendar-printing #cwrapper,
.karl-calendar-printing .ccontent,
.karl-calendar-printing #main,
.karl-calendar-printing #center {
    background-color: white !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    width: auto !important;
}
.karl-calendar-printing .karl-calendar-wide,
.karl-calendar-printing .karl-calendar-narrow {
    border-bottom: 1px solid #CECECE !important;
}

.cal .all_day a {
    /* When printing, give multiday a border */
    border: solid 1px #808080 !important;
}

.cal_title, .cal_agenda {
    /* LP 1207092, increased font size on calendar list print view  */
    font-size: 180%;
}
