<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
      <title>KARL manual testing</title>
  </head>

  <body>
    <h1>KARL manual testing</h1>

    <h2>Selenium</h2>

    <ul>
      <li>
        <a href="selenium-core-1.0.1/TestRunner.html?test=/static/seleniumtests/all_suite.html">all_suite.html</a>
      </li>
    </ul>

    <h2>Individual modules (demos and qunit)</h2>

    <ul>
      <li>
        <a href="jquery-ui/karl-buttonset/demo.html">Demo</a>
        <a href="jquery-ui/karl-buttonset/demo_test.html">Qunit</a>
        karl.buttonset
      </li>
      <li>
        <a href="jquery-ui/karl-captionedimage/demo.html">Demo</a>
        <a href="jquery-ui/karl-captionedimage/demo_test.html">Qunit</a>
        karl.captionedimage
      </li>
      <li>
        <a href="jquery-ui/karl-slider/demo.html">Demo</a>
        <a href="jquery-ui/karl-slider/demo_test.html">Qunit</a>
        <a href="jquery-ui/karl-slider/demo_test_regression.html">Qunit regression</a>
        karl.slider
      </li>
      <li>
        <a href="jquery-ui/ui-multistatusbox/demo.html">Demo</a>
        <a href="jquery-ui/ui-multistatusbox/demo_test.html">Qunit</a>
        ui.multistatusbox
      </li>
      <li>
        <a href="tiny_mce/plugins/imagedrawer/tests/demo_test_notiny.html">Qunit no tinymce</a>
        tiny.imagedrawer
      </li>
      <li>
        <a href="jquery-ui/karl-datetimepicker/demo.html">Demo</a>
        <a href="jquery-ui/karl-datetimepicker/demo_test.html">Qunit</a>
        karl.datetimepicker
      </li>

    </ul>

  </body>

</html>
