/*
 *	All the #333333 font colors shows as black on the web browser
 *	Change the color: on body and h3 css selectors to modify the main color
 *  NOTES:
 *  
 *  1) styles are written with assuming of IE6+ and FF on windows only usage
 */

/** =BASIC STYLES
----------------------------------------------- */
body {
  margin: 0;
  padding: 0;	
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size: 72%;
  background-color: #fff;
  color: #333;
  text-align: center;
}
h1, h2, h3 { 
  margin: 0 0 0.5em 0;
} 
h1 { 
  font-size: 1.8em; 
  font-weight: normal;
  font-family:Georgia,Palatino,Times New Roman;
}
h2 { 
  font-size: 1.3em; 
}
h3 { 
  font-size: 1.2em; letter-spacing: 0;
}
h3 div { 
  color: #333333;
}
h4 {
  font-size: 1.1em;
}
a {
  color: #3A74A9;
}
a:hover  {
  text-decoration: underline;
  cursor: pointer;
}
table {
  font-size: 1em;
}
pre {
  background-color:#F0F2F4;
  border:1px solid #CECECE;
  color:black;
  font-size:125%;
  overflow:auto;
  width: 95%;
  padding:10px;
  padding-bottom: 20px
}

/** =FORMS
----------------------------------------------- */
form {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
input {
  background: #fff url('images/input_background.gif') 0% 0% repeat-x;
  color: black;
  vertical-align: middle;
  visibility: visible;
  border: 1px solid #CECECE;
}
input.inputField {
  width: 30em;
}
textarea {
  background: #fff url('images/input_background.gif') 0% 0% repeat-x;
  color: black;
  border: 1px solid #CECECE; 
}
label {
  font-weight: bold;
  font-size: 110%;
}
.k3_genericForm fieldset {
  margin: 1em 1em 1.5em 0;
}
.k3_genericForm .required {
  background-repeat: no-repeat; 
  background-position: right center; 
  padding-right: 0.8em;
}
.k3_genericForm .fieldHelp {
  color: #76797C;
  font-size: 90%;
  margin: 0 0 0.2em;
  width: 48em;
}
.k3_genericForm .fieldError {
  width: 49em;
  display: inline;
  background: url("images/field_error_bg.gif") 0 0 no-repeat;
  margin: 0 0 1em 0;
  border-bottom: 1px solid #fff;
  padding: 8px 10px 8px 32px;
}
.k3_genericForm .fieldError label {
  color: #d31616;
}
.k3_genericForm .fieldError .errorMessage {
  font-size: 95%;
}
.k3_genericForm .fieldError input {
  border: 1px solid #eda379;
}


/** =SHARED
----------------------------------------------- */
.content {
	width: 952px;
  margin: 0 auto;
  padding: 0;
}
.noborder {
  border: none !important;
  background: none !important;
}
.more {
	text-align: left;
	position: relative;
	display: block;
	padding-left: 0;
	margin: 10px 0pt 0pt;
}
.more a {
	color: #639332 !important;
	text-decoration: underline !important;
	text-transform:uppercase !important;
}
.more a:hover {
  text-decoration: none !important;
}
.documentByLine {
  color: #8F8F8F;
  font-style: italic;
}
.context {
  background: #639332;
  color: White !important;
  font-size: 1em;
  padding: 0.2em 0.6em;       
  border: 1px solid #CECECE;
}
.standalone {
  background: #F0F2F4;
  font-size: 1em;
  padding: 0.2em 0.6em;
  color: #333 !important; 
  border: 1px solid #CECECE;         
}
a.context:hover,
a.standalone:hover {
	text-decoration: none;
}
.kscreentitle {
  margin-bottom: 0.3em;
  overflow: hidden;
}
.kprivacy_badge {
  font-size: 11px;
  color: #ff0000;
  margin-left: 8px;
  padding: 0;
  font-weight: bold;
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
  position: relative;
  top: -0.7em;
  text-transform: lowercase;
}

/** =CLEAR HACKS
----------------------------------------------- */
/* clearafter provides a way to clear after an element */
.clearafter:after, 
.kscreentitle:after {
  content: '.';
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.clearafter, .kscreentitle {display: inline-block;}
/* Holly Hack targets IE Win only \*/
* html .clearafter, * html .kscreentitle {height: 1%;}
.clearafter, .kscreentitle {display: block;}
/* End Holly Hack */

/* clear after the title without the need to put clearafter
 * in every template */

/* Clearing a given element. It only meant to apply from javascript.
 * It's separate from visualClear to avoid possible layout problems. */
.clear {
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.clear-ie-container {
  height: 1%;
  overflow: hidden;
}
.visualClear {
  clear: both; 
  font-size: 1px;
}

/** =ERROR MESSAGES
----------------------------------------------- */
.portalMessage, 
.portalErrorMessage,
.portalWarningMessage, 
.portalStopMessage, 
.statusbox-item {
  background: #fffad8 url('images/message_info_icon.gif') 7px 50% no-repeat;
  border: 1px solid #f1e186;
  color: #333;
  font-weight: normal;
  font-size: 1.1em;
  margin: 1em 0em;
  padding: 6px 10px 6px 30px;
  vertical-align: middle;
  width: 47em;
  font-size: 1em;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;  
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
#inner .portalMessage {
  padding: 0.5em 10px 0.5em 30px;
  width: 438px;
  margin: 0;
}
/* also make tag statusbox look nice */
#tag-inputbox .statusbox-item {
  padding: 3px 10px 4px 30px;
  width: auto;
}  
#tag-inputbox .message-span {
  margin-top: 4px; 
}
#tag-inputbox a.statusbox-closebutton {
  margin-top: 8px;
  text-indent: -9999px;
}
.bit-box {
  margin-top: 2px;
} 

.discreet {
	color: #999999;
	font-size: 0.9em;
}
.discreet label {
  font-weight: normal;
  color:#748B93;
}

/** =TABLE STYLES
----------------------------------------------- */
table.content-listing {
  width: 100%;
  border-collapse: collapse;
  border-spacing:0;
  margin: 1em 0em 1em 0em;
  padding: 0;
  font-size: 1em;
  border-bottom: 1px dashed #e4e9eb;
clear: right;
}
* html table.content-listing {
  width:98%;
}
table.content-listing th,
table.content-listing td {
  border-collapse: collapse;
  border-spacing:0;
  padding: 0.5em 1em;
  margin: 0;
}
table.content-listing th {
  text-align: left;
  border-bottom: 1px dashed #e4e9eb;
}
table.content-listing td {
  border-bottom: 1px dashed #e4e9eb;
}
table.content-listing th.cltype {
	width: 15%;
}
table.content-listing th.cldate {
	width: 20%;
}
table.content-listing th.clauthor {
	width: 20%;
}

/** =MENU ACTIONS (ADD, EDIT, DELETE)
----------------------------------------------- */
ul.menubar {
  display: inline-block;
  float: right;
  margin: 0 0 8px;  /* no top margin here */
  padding: 0;
  list-style: none;
  font-weight: bold;
  text-align: right;    
}
ul.menubar li {
  display: inline-block;
  float: left;
  height: 18px; 
  /* no min-width here, broken in ie6 */
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  color: #fff;
  background: #639332 url('images/toolbar-separator-1x18.png') top right no-repeat scroll;
}
ul.menubar a,
ul.menubar span {
  text-decoration: none;
  line-height: 1.6em; 
  margin: 0px;
  padding: 0 11px;
}
ul.menubar a {
  color: #ffffff;
}
ul.menubar a span {
  padding: 0;
}
span.pointer {
  cursor: pointer;
}
ul.menubar a:visited {
  color: White;
}
ul.menubar a:hover {
  text-decoration: none;
  background: transparent;
  color: #2B3F17;
}
ul.menubar a:active {
  color: White;
}
ul.menubar li.noborder a:hover { /* XXX ? */
  background-image: none;
}
ul.menubar li.menubar-lastitem {
  /* make menubar button visual separator disappear on the last item. */
  background-image: none;
}
ul.karldropdown-menu {
  position: absolute;
  display: none;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 9999;
  text-align: left;
}
ul.menubar ul.karldropdown-menu li {
  display:block;
  /* reset inheritence from the menubar buttons */
  background-color: #666666;
  background-image: none;
  text-align: left;
  padding: 2px 11px;
  /** no fixed width and height here! **/
}
ul.menubar ul.karldropdown-menu li a {
  display: block;
  padding: 0;
}
ul.menubar div.karldropdown-indicator {
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  /* use lighter icon set */
  background-image: url("/static/jquery-ui/1.7/themes/ui-lightness/images/ui-icons_ffffff_256x240.png");
  background-color: transparent;
  border: 0;
}
ul.menubar a.karldropdown-heading {
  display: inline;
  padding-right: 22px;
}

/** =LINK TO PARENT (BREADCRUMB)
----------------------------------------------- */
.chparent_wrapper {
  margin-bottom: 2em;
}
a.chparent {
  text-decoration: none;
}
a.chparent img {
  border: none;
}
a.chparent:hover {
  text-decoration: none;    
}

/** =LAYOUT STRUCTURE
----------------------------------------------- */
.visual-portal-wrapper {
  width: 1003px;
  text-align: center;
  margin: 0 auto;
}
#header {
  text-align: center;
} 
#spo-header {
  width: 952px;
  position: relative;
  z-index: 100; /* to get the livesearch results *above* the content in IE */
  margin: 0px auto;
  text-align: right;
  background: #f0f2f4 url('images/content_bg.gif') top left repeat-y;
}
#main {
  width: 952px;
  margin: 0px auto;
  text-align: left;
  border-bottom: 1px solid #CECECE;
  background: #f0f2f4 url('images/content_bg.gif') top left repeat-y;
  padding-bottom: 3.5em;
  padding-top: 15px;
}
#left {
  float: left;
  position: relative;
  width: 240px;
  z-index: 2;
}
#center {
  background-color: #FFF;
  border:1px solid #CECECE;
  padding:10px;
  margin: 0 15px 15px;
  position:relative;    
}
#right {
 	float: right;
	width: 276px;
	display:block;
	padding-top: 0px;
	margin-left: 15px;
	overflow: visible;
}
#footer {
  width: 932px;
  margin: 0px auto;
  padding: 10px 10px 70px;
  color: #7E7E7E;
  text-align: center;
}

/** =HEADER
----------------------------------------------- */
#header-user-menu {
	font-size: 0.9em;
	text-transform: uppercase;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: right;
}
ul.horListing {
  margin: 0 20px;
  padding: 0;
  list-style: none;
}
ul.horListing li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}
.horListing a,
.horListing a:visited {
	color: #639332;	
	text-decoration: none;
  padding: 0 0.5em;
}
.horListing li.noborder a {
  padding-right: 0;
}
#header-top {
  background: #fff url("images/gradient-top.gif") top left repeat-x;
  height: 55px;
}
#logo {
  float: left;
  margin: 7px 0px 0px 15px;
  width: 129px;
  height: 32px;
}
#logo a img {
  border: none;
  width: 129px;
  height: 32px;    
}

/** =HEADER MENU / ROUNDED TABS
----------------------------------------------- */
#spo-header-top {
 	width: 100%;
	display: block;
	position: relative;
}
ul#header-menu {
  padding: 0 20px 0 0;
  margin: 0;
  list-style: none;
  float: right;
  width: 932px;
  background: #f0f2f4 url('images/content_bg.gif') top left repeat-y;
}
ul#header-menu li {
  padding: 0;
  margin: 0;
  float: right;
  position: relative;
  top: -1px;
  list-style: none;    
}
ul#header-menu img {
  border: none;
}

/** =SEARCHBOX
----------------------------------------------- */
#searchbox {
  float: right;
  vertical-align: top;
  margin: 10px 20px 0 0;
  padding: 0 0 0 0 !important;
  text-align: right;
  width: 483px;
}
#searchbox form {
  margin: 0 0 0 0;
  padding: 0px;
}
input#livesearch-input {
  float: right;
  display: inline;
  border: 1px solid #e4e9eb;
  margin-right: 5px;
  line-height: 26px !important;
  height: 26px !important;
  width: 450px !important;
  font-size: large;
  vertical-align: top;
  float: left;
  padding: 0 0 0 0 !important;
}
#livesearch-button {
  float: right;
  width: 28px;
  height: 26px;
  background: transparent url('images/btn-go.gif') top left no-repeat;
}
#searchbox .advancedSearch {
	display: block;
  font-size: 1.2em;
  line-height: 1em;
}
#searchbox span a,
#searchbox span a:visited {
  font-size: 0.8em;
	color: #63707C;
  padding: 0;
  margin: 0;           
  text-decoration: none;
}

/** =FOOTER
----------------------------------------------- */
#footer a {
  text-transform: uppercase;
  color: #7E7E7E;
  text-decoration: none;
}
#footer .selected {
  font-weight: bold;
}
#footer .osi-logo {
  float: left;
  margin: 0px;
  padding: 0px;
}
#footer .osi-logo img {border: none;}
#footer .extra {
  float: right;
  font-size: 0.9em;
}
#footer .extra a{
  color: #639332;
}

/** =COLUMNS
----------------------------------------------- */
#left .menu {
  padding: 0px 20px 0;
  display: block;
  margin: 0 0 1em;
}
#left .menu ul {
  border-bottom:1px dashed #CCCCCC;
  list-style: none;
  margin: 0;
  padding: 0 0 0.5em;
}
#left .menu ul ul.level2 {
  border-bottom-style: solid;
  padding:0;
}
#left .menu h3,
#right .sections h3 {
  margin-top: 0;
  margin-bottom: 0.2em;
  font-weight: bold;
  letter-spacing: 0px;
  font-family: Georgia,Palatino,Times New Roman;
  text-transform: uppercase;
}
#left .menu ul li { 
  margin: 0 !important; 
  padding: 0;
}
#left a {
  display: block;
  margin: 0;
  padding: 0 0.5em;
  font-size: 1em;
  color: #3A74A9;
  line-height: 2em;
  text-decoration: none;
}
#left .submenu a {
  background-image: url('images/arrow.gif');
  background-position:right;
  background-repeat: no-repeat;
}
#left a:hover {
  background-color: #e6e8ec;
  color: #63707C;
}
#left .menu hr {
  border-top: 1px dashed #CCCCCC;
  width: 100%;
  height: 1px;
  display: block;
}
#right div {
	width: 235px;
	border: 1px solid #CECECE;
	background-color: #FFFFFF;
	display: block;
	padding: 10px;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	margin-bottom: 10px;
}
#right div p {
	margin: 7px 0;
}
#right div p a {
	color: #507988;
	text-decoration: none;
}
#right div .more:visited a {
	color: #639332;
}

/** =CENTER CONTENT
----------------------------------------------- */
#center div .sections {
	padding: 1em 0 0;
	display: block;
	overflow: hidden;
	border-top: 1px solid #cccccc;
	margin-top:1.5em;
}
#center .sections h3 {
  font-weight: normal;
  letter-spacing: 0px;
  font-family: Georgia,Palatino,Times New Roman;
  color: #639332;
  font-size: 1.6em;
}
#center div .teaser {
	padding: 0;
	color: #FFF;
	overflow: hidden;
}
#center .teaser img {
  margin: 0em 0em 1em 0em;
  border: none;
}
#center div .sections p {
	margin: 7px 0px 0px 0px;
	padding: 0px;
}
#center div .sections a {
	color: #3A74A9;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
#center div .sections h2 {
	margin-left: 0px;
}
div.center_intranet {
  margin: 0 0 15px !important; 
  float: left; 
  width: 399px;
}

/** =PEOPLE DIRECTORY
----------------------------------------------- */
ul#peopledir-tabs {
  padding: 3px 0 3px 1em;
  margin: 0;
  margin-top: 1em;
  border-bottom: 1px solid #CECECE;
  list-style: none;
}
ul#peopledir-tabs li {
  list-style: none;
  margin: 0;
  display: inline;
}
ul#peopledir-tabs li a {
  padding: 3px 2em;
  margin-left: 3px;
  border: 1px solid #CECECE;
  border-bottom: none;
  background: #e6e6f2;
  text-decoration: none;
  font-size: 0.9em;
  text-transform: uppercase;
}
ul#peopledir-tabs li a:hover {
  background-color: White;
  text-decoration: none;
}
ul#peopledir-tabs li.selected a {
  background: white;
  border-bottom: 1px solid white;
}

#peopledir-content-wrapper {
  border: 1px solid #CECECE;
  border-top: none;
  padding: 2em 10px 1em;
}
#peopledir-section h3 {
  margin-left: 0px;
  margin-top: 10px;
}
#peopledir-section ul li {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#peopledir-section a.priority {
  padding-bottom: 5px;
  font-style: italic;
  font-weight: bold;
  display: block;
}

#peopledir-actions {
  width: 100px;
  clear: both;
  float: right;
}
#peopledir-actions ul {
  margin: 0px;
}
#peopledir-actions li {
  float: left;
  margin: 2px;
  list-style: none;
}
#peopledir-actions .ui-icon {
  height: 16px;
  width: 16px;
  margin: 0 4px
}
#peopledir-letterbox-wrapper {
  background: #F0F2F4 none repeat scroll 0 0;
  border: 1px solid #CECECE;
  font-size: 0.9em;
}
#peopledir-letterbox-wrapper .kalphabetlisting {
  margin-bottom: 0px;
  padding: 3px 10px;
}
#peopledir-search-box-wrapper {
  border: 1px solid #CECECE;
  border-top: 0px;
  padding: 10px;
  margin-bottom: 10px;
}
.deleteMessage {
	text-align: center; 
	margin-top: 2em;
	margin-bottom:2em;
	font-size: 1.3em;
}
.deleteMessage a {
	font-size: 0.8em;
	text-decoration: none;
}

/** =COMMUNITY HEADER (H1, SEARCH)
----------------------------------------------- */
.community_view {
  background-color: #CEDFEF !important;    
}
.community_view .cheader {
	clear: both;
	margin-bottom: 25px;
  position: relative;
}
.community_view .cheader h1 {
	font-weight: normal;
  margin-top: 0;
}
.community_view .cheader form {
  float: right;
  width: 35em;
  text-align: right;
}
.community_view .cheader form input {
	margin-right: 2px;
	font-size: 11px;
  display: inline;	
}
.community_view .cheader form .inp {
	width: 15em;
}

/** =COMMUNITY TABS (OVERVIEW, BLOG, WIKI)
----------------------------------------------- */
.community_view #cwrapper {
	clear: both;
	margin-top: 10px;
  background-color: #CEDFEF;
}
.community_view #cleftcol {
	float: left;
	width: 690px;
}
.community_view #cleftcol .ccontent {
	border: 1px solid #CECECE;
  border-top: none;
	padding: 20px 10px 10px 10px;
	display: block;
	background-color: white;
	margin-top: 0px;
}
.community_view #cleftcol #cheader ul {
  padding: 3px 0 3px 1em;
  margin: 0;
  border-bottom: 1px solid #CECECE;
  list-style: none;    
}
.community_view #cleftcol #cheader ul li {
  list-style: none;
  margin: 0;
  display: inline;
}
.community_view #cleftcol #cheader ul li a {
  padding: 3px 0.5em;
  margin-left: 3px;
  border: 1px solid #CECECE;
  border-bottom: none;
  background: #e6e6f2;
  text-decoration: none;    
  font-size: 0.9em;
	text-transform: uppercase;
}
.community_view #cleftcol #cheader ul li a:hover {
  background-color: White;
}
.community_view #cleftcol #cheader ul li.curr a {
  background: white;
  border-bottom: 1px solid white;
}
.community_view #cleftcol #cheader span {
	font-size: 11px;
	color: black;
	float: right;
	margin: 5px 10px 0px 10px;
	font-size: 11px;
}
.community_view #cleftcol #cheader span a {
	color: #748b93;
	text-decoration: none;
}

/** =COMMUNITY RIGHT COL (PORTLETS)
----------------------------------------------- */
.community_view #crightcol {
  margin: 0px 0px 0px 700px;
	padding: 1.5em 0 0 0;
	color: #000;
	font-size: 0.9em;
}
.community_view #crightcol .right-portlet {
  margin-bottom: 20px;
  padding-bottom: 20px;
	border-bottom: 1px dashed #CECECE;
}
.community_view #crightcol #activepeople {
  border-bottom: none;
  margin-bottom: 0;
}
.community_view #crightcol h3 {
	font-size: 14px;
	font-weight: normal;
	color: black;
}
.community_view #crightcol a {
	color: #748b93;
	text-decoration: none;
}
.bt {
	background-color: #e6e6f2;
	color: #748b93;
}
.recentItemsWrapper {
	margin-top: 1em;
}
.communityEntry {
  margin-bottom: 20px;
}
.communityEntry p {
  margin: 0.5em 0;
}
tr.moderator td {
  color: #639332;
  font-weight: bold;
}

/** =NAVIGATION TREE MENU
----------------------------------------------- */
ul.nav li {
  position: relative;
  width: 200px;
}
ul.nav ul {
  position: absolute; 
  top: 0;
  left: 200px;
  z-index: 10;
  background: #e6e8ec;
  visibility: hidden;
  border: 1px solid #cccccc;
}
#left .submenu ul a {
  background-image: none;
}
ul.nav li:hover a,
ul.nav li.iehover a {
  background-color: #e6e8ec;
}
ul.nav li:hover ul.level2,
ul.nav li.iehover ul.level2 {
  visibility: visible;
}
ul.nav li:hover ul a,
ul.nav li.iehover ul a {
  background-color: transparent;
}
ul.nav li:hover ul a:hover,
ul.nav li.iehover ul a:hover {
  background-color: #cccccc !important;
}

/** =PORTLET
----------------------------------------------- */
.portlet-table {
  border-collapse: collapse;
  padding: 0;
  margin: 0% 5%;
  width: 90%;
}
.portlet-table td {
  border-collapse: collapse;
  padding: 0 2px 10px;
  margin: 0;
  vertical-align: top;
}
.portlet-table td.type {text-align: center;}
.portlet-table td.date {text-align: right;}
.portlet-table .num{
	width: 10%;
	padding-right: 10px;
	text-align: right;
}
.portlet-table .name, 
.portlet-table .type{
	padding-right: 2px;
}
a.splitIntoWords span {
	display: block;
}

/** =OFFICES
----------------------------------------------- */
div#offices-wrapper {
  padding:0 215px;
  font-size: 0.8em;
}
ul#offices-listing {
  margin: 0;
  padding:0;
  list-style: none;
}
ul#offices-listing li {
  margin: 0;
  padding: 0;
  list-style:none;
  text-transform: uppercase;
  display: inline;
  white-space:nowrap;
}
span.officeslistSeparator {
  padding: 0 0.2em 0 0.2em;
}
div#offices-wrapper p {
  padding: 0;
  margin: 0.5em 0;
}

/** =WICKED
----------------------------------------------- */
.wicked_resolved img {
  border: none;
}
.wicked_unresolved {
  color:Red;
}

/** edit page (form) view **/
.field {
  left: 0;
  top: 0;
  margin: 1em 1em 1.5em 0;    
}
.field label.required { 
  background-repeat: no-repeat; 
  background-position: right center; 
  padding-right: 8px;
}
input#title {
  font-family:Tahoma,"Lucida Grande",Lucida,Helvetica,Arial,sans-serif;
  font-size:160%;
  font-weight:normal;
}
div.error {
  background-color: #FFCC00;
  border: 1px solid #FF8A00;
  margin: 0pt 0pt 1em;
  padding: 1em;
  width: 49em;
}
.error .fieldRequired {
  color: #FFCC00;
}

#mce_editor_0_addwickedlink,
#mce_editor_0_delwickedlink {
  display: none;
}
#mce_editor_1_addwickedlink,
#mce_editor_1_delwickedlink {
  display: none;
}
#mce_editor_2_addwickedlink,
#mce_editor_2_delwickedlink {
  display: none;
}
#mce_editor_3_addwickedlink,
#mce_editor_3_delwickedlink {
  display: none;
}
#mce_editor_4_addwickedlink,
#mce_editor_4_delwickedlink {
  display: none;
}

/** =BLOG ENTRY
----------------------------------------------- */
.addCommentButton {
  text-align: center;
  padding: 0.4em 0em;
  text-transform: capitalize;
}
.newsitemImage {
  float: right;
  margin:0 0 1em 1em;
}
.imageCaption {
  margin-top:0.5em;
  width:200px;
}
.kbyline {
  color: #999999;
}
.kbody {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.blogComment {
  background: #F0F2F4;
  border: 1px solid #CECECE;
  margin: 0em 0em 1em;
  padding: 1em;
  min-height: 100px;
  height:auto !important;
  height: 100px;
}
.blogAttachments {
  margin: 1em 0em 2em 0em;
}
.blogAttachments span {
  margin-right: 1em;
}
.commentManagement {
  float: right;
  margin-top: -0.5em;
}
.blogEntry {
  border-top: 1px solid #CECECE;
  padding-bottom: 1.5em;
}
.blogEntry h2 {
  margin-bottom: 0;
  margin-top: 0.5em;
}
.blogEntry h2 a {
  text-decoration: none;
}
.commentText {
  margin-top: 2em;
  margin-bottom: 2em;
}
.batchNavigation {
  margin-top: 2em;
}

/** =BATCH MECHANISM
----------------------------------------------- */
.kpagination_frame {
  background-color:#F0F2F4;
  border: 1px solid #cecece;
  color:black;
  padding: 0.2em 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/** =CALENDAR
----------------------------------------------- */
.kutility_menu {
  margin-bottom: 20px;
}
.kutility_menu a {
  color: Black;
}
h2.eventsListing {
  text-align: center;
}
dl.eventsListing dt {
  font-weight: bold;
  margin-top: 15px
}
dl.eventsListing dd {
  margin: 1px 0;
  padding: 0.5em;
  background-color: #EFF7FF;
}
.batchNavigation {
	text-align: center;
	margin-bottom: 0.5em;
}
.batchNavigation a {
  font-weight: bold;
}
.batchNavigation a:hover {
  text-decoration: none;
} 
table#calendar {
  border: 1px solid #D9D9D9;
  border-style: solid solid none none;
}
table#calendar td {
  border: solid #D9D9D9 .5px;
}
table#calendar td.this-day {
  background-color:#fff6e4;
}
table#calendar td.other-month,
table#calendar td.this-month {
  background: White;
}
table#calendar span.middot {
  font-weight: bold;
  font-size: 160%;
  vertical-align: middle;
  font-family: "Trebuchet MS";
  line-height: 0.6em;    
}
.calendar_day_of_week_header {
  text-align:center;
  background-color:#e5e8ed;
}
.calendar_day_of_week_header td {
  padding: 4px 0 4px 0;  
  border: solid #D9D9D9; 
  border-width: 1px 0 1px 1px;
}
.calendar_day_header {
  text-align:right;
  background-color:#E8EEF7;
  display:block;
}
.other-month .calendar_day_header {
  text-align:right;
  background-color:#E8EEF7;
  color: #D9D9D9;
}
.calendar_day_entry {
  padding: 3px; 
  color: #999;
}

/** =PEOPLE PROFILE
----------------------------------------------- */
.peopleSearchWrapper {
  border: 1px solid #CECECE;
  border-top: none;
  padding: 2em 10px 1em;
}
.peopleSearchWrapper .kalphabetlisting {
  margin-bottom: 0 !important;
  background: #F0F2F4;
  border: 1px solid #CECECE;
  padding: 0.1em 0.5em;
  font-size: 0.9em;
  color: #CECECE;
}
.peopleSearchWrapper .kalphabetlisting strong {
  color: #666666;
}
div.search_utility_bar {
  margin-bottom: 2em;
  border: 1px solid #CECECE;
  border-top: none;
  padding: 0em 1em;
}
.profilesWrapper {
  clear: right;
  padding-top: 1em;
  margin: 0;
  height: 1%; 
}
.photoProfile {
  height: 127px;
  background-color: #F5ECCF;
  padding: 0;
  width: 32%;
  margin: 0 0.5% 0.5% 0;
  font-size: 0.9em;
  float: left;
  display: inline;          
  overflow: hidden;
}
.photoProfile img {
  font-size: 1em;
}
.photoProfile h4 {
  margin: 10px 10px 0;
  font-weight: normal;
  font-size: 1em;
}
.photoProfile p { 
  line-height: 1.5em;
  margin: 0.5em 10px 10px;
}
.photoProfile p span {
  display: block; 
}
.photoProfileImage {
  float: left;
  display: inline;
  margin: 10px;     
}
.photoProfileImage img {
  border: none;
  height: 100px;
  width: 75px;
  -ms-interpolation-mode: bicubic; /* ie 7 */
}
.profileInfoBox {
  float: left; 
  margin: 1em 0 0.2em;
  line-height: 1.5em;
  overflow: hidden;
  width: 118px;
}
.profileNoWrap {
  white-space:nowrap;
}
.rightcol {
	float: right;
	width: 190px;
}
a.rightFloatLink {
  float: right;
  text-decoration: none;
}

/** =ADVANCED SEARCH
----------------------------------------------- */
#advancedsearch-view fieldset > label {
  display: block;
}
#advancedsearch-view input#title {
  width: auto;
  font-size: 1.3em;
  font-family: inherit;
}

/** =LOGIN
----------------------------------------------- */
html,
body#login-wrapper {
  background: #d0d5db;
  height: 100%;
}
img#login-gradient {
  height: 50%;
  width: 100%;
  left: 0px;
  position: absolute;
  top: 0px; 
  z-index: 0;
}
#outer {
  position: relative;
  z-index: 1;
  background: transparent url('images/logo_form_shadow.gif') 50% 100% no-repeat;
  margin: 150px auto;
  width: 688px;
}
#inner {
  position: relative;
  left: -6px;
  top: -3px;
  width: 480px;
  margin: 0;
  border: 1px solid #ccd1d4;
  background: #e4e9ec;
  text-align: left;
  padding: 28px 110px 40px;
}
#inner .field {
  margin: 1em 0 1.5em;
}

body#login-wrapper #inner h2 {
  width: 480px;
  text-align: center;
}
body#login-wrapper #inner p {
  width: 460px;
}
body#login-wrapper h1.kscreentitle {
  width: 480px;
  background: transparent url("images/logo.gif") 50% 0% no-repeat;
  border: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}

body#login-wrapper h1.kscreentitle span {
  display: block;
  text-decoration: none;
  overflow: hidden;
  border: 0;
  margin: 0 auto;
  padding: 0;
  padding-top: 32px;
  height: 0px !important;
  width: 129px;
}
.loginLeftPadding {
  padding-left:8em;
}
span.loginLabelWrapper {
  width: 83px;
  float: left;
  clear: left;
  padding-top: 3px;
}
span.loginLabelWrapper label {
  float: left;
}
input#username {
  width: 370px;
}

/** =FORUMS
----------------------------------------------- */
table.messageBoard {
  border: 1px solid #cccccc;
}
table.messageBoard th.boardCaption {
  font-size: 1.1em;
  background: #F0F2F4;
  border-bottom: 1px solid #cccccc;
  padding: 0.3em 0.5em;
  text-align: left;
}
table.messageBoard th.boardCaption .kpagination_frame {
  background:transparent !important;
  border:none !important;
  margin:0 !important;
  padding: 0.3em 1em !important;
}

table.messageBoard th.boardCaption .kpagination_frame a {
  text-decoration:none;
}

/** =REFERENCE MANUAL
----------------------------------------------- */
ol#references-listing {
  padding:0;
  margin:0;
  width:655px;
  list-style-position:inside;
  font-size:1em;
}
ol#references-listing li {
  line-height: normal;
  list-style-position:inside;
  border-bottom: 1px solid #CECECE;
  padding: 0.3em 0 0 0.5em;
  margin:0;
  clear:right;
}
ol#references-listing li a {
  text-decoration:none;
}
ol#references-listing li a.topLevelItem {
  font-weight:bold;
  text-transform:uppercase;
}
ol#references-listing li ol { 
  margin:0.3em 0 0;
  padding: 0 0 0 2em;
}
* html ol#references-listing li ol {
  padding-left:1.5em; 
}
ol#references-listing li ol li { 
  padding-bottom:0.3em;
  border-bottom:none;
  border-top:1px solid #CECECE;
}

span.sortingArrows {
  display:block;
  width:25px;
  height:8px;
  padding:0;
  float:right;
}
span.sortingArrows a { 
  text-decoration:none;
}
span.sortingArrows a img { 
  border:none;
  margin:0;
}

/** =INTRANETS
----------------------------------------------- */
.klisting_header {
  font-size: 16px;
  font-weight:bold;
}
.featureLinks {
  margin-top: 0em;
}

/** =TAGS
----------------------------------------------- */
.tagbox {
  margin: 1em 0 1em;
}
.label-tags {
  border: 1px solid #CECECE;
  font-size: 1em;
  background: #F0F2F4;
  padding: 0.2em 0.6em;
  color: #333 !important; 
  margin-right: 5px;
  position: relative;
  float: left;
}
#tagview-column {
	width: 178px !important;
}
.tag_page_side {
	width: 188px;
	background-color:#fff;
	border: 1px solid #ccc;
	margin: 0 0 1em;
	padding: 0 0 1em;
}
.tag_page_side a {
	color: #639332;
	text-decoration: none;
}
#tagview-column .tag_page_side {
	width: 176px;
}
.tag_page_side dt {
	font-weight: bold;
	padding: 1em 7px;
	font-size: 1.3em;
}
.tag_page_side dd {
	padding: 5px 7px;
	margin: 0px;
}
#popular-tags-portlet {
	margin-top: 2em;
}
#popular-tags-portlet table.portlet-table {
	margin: 0;
	width: 100%;
	margin-bottom: 1em;
}
#relatedtags-portlet {
	background:#fbf5e7;
	border: 1px solid #e7e0da;
}
#relatedtags-portlet dt {
	font-size: 1em;
	background: #f6ecd1;
	border-bottom: 1px solid #e7e0da;
	padding: 1px 7px 2px;
}

/* tag cloud */
h2.tagsHeaderSpace {
  margin-right: 188px;
  font-family:Georgia,Palatino,"Times New Roman";
  font-weight: normal;
  font-size: 1.8em;
}
.tagweight1 {
  font-size: 100%;
}
.tagweight2 {
  font-size: 120%;
}
.tagweight3 {
  font-size: 140%;
}
.tagweight4 {
  font-size: 160%;
}
.tagweight5 {
  font-size: 180%;
}
.tagweight6 {
  font-size: 200%;
}
.tagweight7 {
  font-size: 220%;
  color:green;
}

/* who applied the tag "name" to ... */
ul.tagUsersList {
  margin: 1em 0;
  padding: 0 2em;
}
ul.tagUsersList li {
  line-height: 1.6em;
}

/** =PROFILE
----------------------------------------------- */
.profile_page_body {
	margin-right: 225px;
	position: relative;
	margin-top: 3em;
}
.profile_page_body div.wrapper {
	margin-left: 93px;
}
.profile_page_body div p span { 
	display: inline;
	margin-right: 5px;
	margin-bottom: 2px;
	float: left;
}
.profile_page_body div p span.profileLabel {
  width: 8.5em;
}
.profile_page_body div p a {
	color: #639332;
	text-decoration: none;
}
.profile_page_body div p a:visited {
	color: #639332;
}
.portraid {
	float: left;
	margin: 0 8px 8px 0;
}
.portraid img {
  display: block;
  width: 75px;
}
.profileDetails {
 	margin-bottom: 1em;
	float: left;
	display: inline;
}
.profileDetails p {
	margin: 2px 0;
	float: none;
	clear: left;
	width: 580px;
}
.profileDetails p a {
  float: left;
}
.profileBio {
  margin-bottom: 2em;
}
table#staffprofile-content th.cldate  {
	text-align: left;
	padding-left:0;
}
table#staffprofile-content td {
	padding-top: 1em;
}
table#staffprofile-content td.cldate {
	padding-left: 0;
}
table#staffprofile-content td.cltype {
	padding-right: 0;
	text-align: left;
}
table#staffprofile-content td a,
table#staffprofile-content td a:hover {
	text-decoration: none;
}

.profileLabel {
  padding-right: 5px;
  font-weight: bold;
}
.searchresult_entry {
  margin-bottom: 25px;
}

.kalphabetlisting {
	margin-bottom: 10px;
}
.kalphabetlisting a.current {
  text-decoration: none;
}
.quotedreplytext {
  background-color: silver;
  border: 1px solid gray;
  margin-left: 4em;
  padding: 2em;
}

/** =EVENTS PORTLET
----------------------------------------------- */
#events_portlet {
  width: 95%;
  margin-left: 0px;
  padding-left: 0px;
}
#events_portlet li {
  list-style: none;
  margin-bottom: 6px;
}
#events_portlet .event_title {
  padding-left: 20px;
}

/** =TESTING
----------------------------------------------- */

/* Hide certain form fields when staff edits a profile */
.k3_staff_role #firstname-field, .k3_staff_role #lastname-field, 
.k3_staff_role #phone-field, 
.k3_staff_role #extension-field, .k3_staff_role #department-field, 
.k3_staff_role #organization-field, .k3_staff_role #position-field, 
.k3_staff_role #location-field, .k3_staff_role #country-field { 
  /* Changed to display: block to facilitate testing, temporarily. */
  display: none;
}

/* XXX Temporarily allow editing by staff of email field to allow testing*/
.k3_staff_role #email-field { 
  display: block;
}

/** =ADDITIONS FOR KARL3
----------------------------------------------- */
.k3_section_items:hover { 
  background-color: #F0F2F4;
}
div.moderator {
  font-weight: bold;
  background-color: #CEDFEF;
}

/* single file upload widget */
.sif-stub {
  margin-top: 8px;
}

/** =CALENDAR
----------------------------------------------- */
.cal_header a img {
  border: 0;
}
.cal_header {
  background-color: #edf1f3;
  border-top: 1px solid #dddfe0;
  border-bottom: 1px solid #dddfe0;
  font-size: 85%;
}       
.cal_footer {
  background-color: #edf1f3;
  border-top: 1px solid #fff;
  padding: 7px 8px;
  font-size: 85%;
}
.cal_calendars {
  background-color: #edf1f3;
  border-bottom: 1px solid #dddfe0;
  border-width: 1px 0;
  padding: 5px 9px;
}
.cal_choose {
  float: left;
}
.cal_choose a {
  font-size: 90%;
}
.cal_choose label {
  padding-bottom: 2px;
  font-size: 100%;
  font-weight: normal;
}
.cal_choose select {
  margin-top: 2px;
  border: 1px solid #cecece;
}
.cal_choose option {
  color: #fff;
  font-weight: bold;
  line-height: 1.5em;
  vertical-align: middle;
  border-width: 0;
  border-bottom: 1px solid #fff;
}
.cal_choose .group {
  padding: 0 0 0 4px;
  background-color: #f2f2f2;
  color: #333;
}
.cal_choose .color {
  border: 0;
}

.cal_actions {
  float: right;
  padding: 3px 6px 2px 6px;
  border: 1px solid #dddfe0;
  background-color: #f6f8f9;
}
.cal_actions a {
  float: left;
  height: 16px;
}
.cal_actions .cal_download {
  background: url("../images/cal_icons_download.png") 0 0 no-repeat;
  margin-right: 8px;
  padding-left: 17px;
}
.cal_actions .cal_subscribe {
  background: url("../images/cal_icons_rss.png") 0 0 no-repeat;
  padding-left: 18px;
}

.cal_new_event {
  float: right;
  display: inline;
  margin: 2px 0 0 7px;
}

.cal_buttons {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: #edf1f3;
  padding: 10px 9px 7px 9px;
}
.cal_buttons .cal_nav {
  float: left;
}
.cal_buttons .cal_scope {
  float: right;
}


/** =CALENDAR COLORS
----------------------------------------------- */
/* dark on light */
body .cal_red {
  color: #cc3333;
  background-color: #faeaea;
  border: 1px solid #cc3333;
}
body .cal_red a, 
body .cal_red a:visited {
  color: #cc3333;
}
body .cal_pink {
  color: #dd4477;
  background-color: #fcecf1;
  border: 1px solid #dd4477;
}
body .cal_pink a, 
body .cal_pink a:visited {
  color: #dd4477;
}
body .cal_purple {
  color: #994499;
  background-color: #f5ecf5;
  border: 1px solid #994499;
}
body .cal_purple a, 
body .cal_purple a:visited {
  color: #994499;
}
body .cal_blue {
  color: #3366cc;
  background-color: #eaeffa;
  border: 1px solid #3366cc;
}
body .cal_blue a, 
body .cal_blue a:visited {
  color: #3366cc;
}
body .cal_aqua {
  color: #22aa99;
  background-color: #e8f6f5;
  border: 1px solid #22aa99;
}
body .cal_aqua a, 
body .cal_aqua a:visited {
  color: #22aa99;
}
body .cal_green {
  color: #109618; 
  background-color: #e7f4e7;
  border: 1px solid #109618;
}
body .cal_green a, 
body .cal_green a:visited {
  color: #109618; 
}
body .cal_mustard {
  color: #d6ae00;
  background-color: #fbf7e5;
  border: 1px solid #d6ae00;
}
body .cal_mustard a, 
body .cal_mustard a:visited {
  color: #d6ae00;
}
body .cal_orange {
  color: #dd5511;
  background-color: #fceee7;
  border: 1px solid #dd5511;
}
body .cal_orange a, 
body .cal_orange a:visited {
  color: #dd5511;
}
body .cal_silver {
  color: #627487;
  background-color: #eff1f3;
  border: 1px solid #627487;
}
body .cal_silver a, 
body .cal_silver a:visited {
  color: #627487;
}
body .cal_olive {
  color: #d6ae00;
  background-color: #f1f4f2;
  border: 1px solid #d6ae00;
}
body .cal_olive a, 
body .cal_olive a:visited {
  color: #d6ae00;
}

/* inverse - white on dark */
body .cal_red_all {
  color: #fff;
  background-color: #cc3333;
}
body .cal_pink_all {
  color: #fff;
  background-color: #dd4477;
}
body .cal_purple_all {
  color: #fff;
  background-color: #994499;
}
body .cal_blue_all {
  color: #fff;
  background-color: #3366cc;
}
body .cal_aqua_all {
  color: #fff;
  background-color: #22aa99;
}
body .cal_green_all {
  color: #fff; 
  background-color: #109618;
}
body .cal_mustard_all {
  color: #fff;
  background-color: #d6ae00;
}
body .cal_orange_all {
  color: #fff;
  background-color: #dd5511;
}
body .cal_silver_all {
  color: #fff;
  background-color: #627487;
}
body .cal_olive_all {
  color: #fff;
  background-color: #d6ae00;
}


/** =CALENDAR GRID
----------------------------------------------- */
table.cal {
  width: 667px;
  border-collapse: collapse;
  margin-left: 1px;
}
table.cal_scroll {
  width: 646px;
}
.cal_scroll th {
  width: 43px;
}
.cal th, 
.cal td {
  padding: 0;
  vertical-align: top;
}
.cal th {
  text-align: center;
}
.cal td {
  text-align: left;
  font-size: 72%;
}

.cal .cal_dates th {
  height: 14px;
  padding: 3px 0;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #e6e6e6;
}

/* all day */
.cal .all_day th {
  width: 43px;
  font-size: 75%;
  padding: 3px 0;
  color: #7a7a7a;
  vertical-align: middle;
}
.cal .all_day th, 
.cal .all_day td {
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #ccc;
}

.cal .all_day .all_day_block {
  position: relative;
}
.cal .all_day .create {
  position: absolute;
  right: 0;
  height: 19px;
  width: 15px;
  z-index: 3;
}
.cal .all_day .create .add {
  float: right;
  padding: 3px;
}
.cal .all_day .create img {
  border: 0;
}
.cal td .add {
  visibility: hidden;
}
.cal td.hov .add {
  visibility: visible;
  position: relative;
}


.cal .divider th, 
.cal .divider td {
  height: 1px;
  font-size: 1px;
  line-height: 1em;
  padding: 0;
  border-bottom: 1px solid #e6e6e6;
}
.cal .shade {
  background-color: #f7f9fa;
}

/* highlighting today */
.cal_today_sun .cal_sun, 
.cal_today_mon .cal_mon, 
.cal_today_tue .cal_tue, 
.cal_today_wed .cal_wed, 
.cal_today_thu .cal_thu, 
.cal_today_fri .cal_fri, 
.cal_today_sat .cal_sat {
  background-color: #fdffd2;
}
.cal_today_sun .cal_sun .shade, 
.cal_today_mon .cal_mon .shade, 
.cal_today_tue .cal_tue .shade, 
.cal_today_wed .cal_wed .shade, 
.cal_today_thu .cal_thu .shade, 
.cal_today_fri .cal_fri .shade, 
.cal_today_sat .cal_sat .shade {
  background-color: #f5f9ce;
}

/* hours of the day */
.cal_hours_scroll {
  width: 665px;
  height: 572px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

/* current time */
.cal_time {
  width: 613px;
  height: 7px;
  position: absolute;
  top: 20px;
  left: 40px;
  background: url("../images/cal_time.png") 0 0 no-repeat;
  font-size: 1%;
  line-height: 1em;
  z-index: 3;
}

.cal .cal_stack {
  line-height: 1.5em;
}
.cal th .cal_time_label {
  height: 51px;
  border-bottom: 1px solid #e6e6e6;
  color: #666;
}
.cal td li.cal_hour {
  border-bottom: 1px dotted #e2e3e4;
}

/* events */
.cal_event_pos_full a {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;  
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;  
}
.cal_event_pos_left a {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;  
}
.cal_event_pos_right a {
  width: 92px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

/* hourly events */
.cal_hour_event {
  height: 25px;
  position: relative;  
  border-bottom: 1px solid #e6e6e6;
  line-height: 1.15em;
  font-size: 115%;
}
.cal_hour_event a {
  text-decoration: none;
}
body .cal_hour_event .cal_event_block  {
  float: left;
  position: absolute;
  left: -1px;
  padding: 0px 3px;
  overflow: hidden;
}
body .cal_event_pos_left a,
body .cal_event_pos_left .cal_event_block {
  border-right-width: 0;
}
body .cal_event_pos_center a,
body .cal_event_pos_center .cal_event_block {
  border-width: 1px 0;
}
body .cal_event_pos_right a,
body .cal_event_pos_right .cal_event_block {
  border-left-width: 0;
}
body .cal_hour_event .cal_event_block {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;  
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  z-index: 1;
}
body .cal_hour_event .cal_event_block .time {
  font-size: 90%;
}

/* add new event */
.cal_hour_event .create {
  position: absolute;
  right: 0;
  width: 15px;
  height: 25px;
  z-index: 4;
  text-align: right;
}
.cal_hour_event .create .add {
  float: right;
  padding: 3px;
}
.cal_hour_event .create img {
  border: 0;
}
.cal li.hov {
  background-color: #ecf2ff !important;
}
.cal li.hov_below {
  background-color: #ecf2ff !important;
}
.cal li .add {
  visibility: hidden;
}
.cal li.hov .add {
  visibility: visible;
  position: relative;
}

/** =CALENDAR MONTH VIEW
----------------------------------------------- */
/* monthly */
.cal_month th {
  font-weight: normal;
  font-size: 90%;
}
.cal_month td {
  width: 93px;
  height: 93px;
  border: 1px solid #ccc;
}
.cal_month td.hov {
  background-color: #ecf2ff;
}
.cal_title {
  text-align: center;
  margin: 5px 0 7px 0;
}
.cal_month .label {
  height: 16px;
  font-size: 115%;
  line-height: 1em;
  text-align: right;
  padding: 0;
}
.cal_month .label .num {
  float: right;
  padding: 2px 2px 2px 10px;
}
.cal_month .label .add {
  float: left;
  padding: 3px 10px 4px 3px;
}
.cal_month .label a, 
.cal_month .label a:visited {
  text-decoration: none;
  color: #333;
}
.cal_month .faded a, 
.cal_month .faded a:visited {
  color: #bbb;
}
.cal_month .today {
  background-color: #fdffd2;
}
.cal_month .cal_event {
  position: relative;
  height: 15px;
  margin-bottom: 1px;
  line-height: 13px;
  font-size: 110%;
}
.cal_month .cal_event a {
  float: left;
  width: 90px;
  height: 15px;
  position: absolute;
  left: -1px;
  padding: 0 3px;
  text-decoration: none;
  overflow: hidden;
  border: 0;
}
.at_time a {
  background-color: transparent;
}
.cal_month .cal_event_pos_full a {
  left: 1px;
  width: 87px;
}
.cal_month .cal_event_pos_left a {
  width: 89px;
  left: 1px;
}
.cal_month .cal_event_pos_right a {
  width: 89px;
}

.cal_month .label img {
  visibility: hidden;
  border: 0;
}
.cal_month .hov .label img {
  visibility: visible;
}


/** =CALENDAR WEEK VIEW
----------------------------------------------- */
.cal_week {
  border-top: 1px solid #e6e6e6;
}
.cal_week th {
  border-left: 0;
  font-weight: normal;
  font-size: 85%;
}
.cal_week td {
  width: 85px;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  border-bottom-color: #e6e6e6;  
}
.cal_week .last {
  width: auto;
  border-right: 0 !important;
}
.cal_week th a {
  text-decoration: none;
}
.cal_week .cal_event {
  height: 19px;
  line-height: 18px;
  font-size: 110%;
  position: relative;
}
.cal_week .cal_event a {
  float: left;
  width: 84px;
  height: 18px;
  position: absolute;
  left: -1px;
  padding-left: 3px;
  text-decoration: none;
  overflow: hidden;
}
.cal_week .cal_event_block {
  width: 80px;
}


/** =CALENDAR DAY VIEW
----------------------------------------------- */
.cal_day {
  border-top: 1px solid #e6e6e6;
}
.cal_day th {
  border-left: 0;
  font-weight: normal;
  font-size: 85%;
}
.cal_day td {
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  border-bottom-color: #e6e6e6;  
}
.cal_day .last {
  width: 21px;
  border-right: 0 !important;
}
.cal_day th a {
  text-decoration: none;
}
.cal_day .cal_dates .date {
  font-weight: bold;
}

.cal_day .cal_event {
  height: 19px;
  line-height: 18px;
  font-size: 110%;
  position: relative;
}
.cal_day .cal_event a {
  float: left;
  width: 598px;
  height: 18px;
  position: absolute;
  left: -1px;
  padding-left: 3px;
  overflow: hidden;
  text-decoration: none;
}
.cal_day .cal_event_block {
  width: 594px;
}


/** =CALENDAR LIST VIEW
----------------------------------------------- */
.cal_list dl {
  margin: 0 0 15px 0;
}
.cal_list dt {
  margin-bottom: 3px;
  font-weight: bold;
}
.cal_list dd {
  margin: 1px 0;
  padding: 5px 7px;
  background-color: #EFF7FF;
}
.cal_list dd .title {
  float: left;
}
.cal_list dd .time {
  float: right;
  color: #555;
  font-size: 90%;
}


/** =CALENDAR AGENDA VIEW
----------------------------------------------- */
.cal_agenda .cal_expand th {
  padding: 0 8px 5px 8px;
  text-align: left; 
  font-weight: normal;
}
.cal_agenda .cal_expand th a {
  margin-right: 8px;
  text-decoration: underline;
  font-weight: normal;
  font-size: 90%;
}
.cal_agenda .cal_agenda_range td {
  padding: 5px 0;
  text-align: center;
}
.cal_agenda .cal_agenda_range a {
  color: #666;
}
.cal_agenda th, 
.cal_agenda td {
  font-size: 90%;
  padding: 7px 8px 3px 8px;
  border-bottom: 1px solid #eff3f5;
}
.cal_agenda tr.shade th,
.cal_agenda tr.shade td {
  background-color: #f7f9fa !important;
}
.cal_agenda .cal_agenda_day th {
  width: 80px;
  text-align: left;
  border-right: 1px solid #eff3f5;
}
.cal_agenda th a {
  text-decoration: none;
}

.cal_agenda_block {
  margin-bottom: 5px;
}
.cal_agenda_block .cal_event_time {
  float: left;
  width: 126px;
  height: 16px;
}
.cal_agenda_block .cal_event_time a, 
.cal_agenda_block .cal_event_time a:visited {
  float: left;
  text-decoration: none;
  padding: 1px 5px 1px 5px;
  font-size: 90%;
}

.cal_agenda_title {
  width: 390px;
  float: left;
  line-height: 16px;
}
.cal_agenda_title a {
  font-size: 110%;
  background-color: transparent;
  font-weight: bold;
  border: 0;
  text-decoration: none;
}
.cal_agenda .pipe {
  margin: 0 2px;
  color: #999;
}


/** =CALENDAR TOOLTIP
----------------------------------------------- */
.tooltip { 
  display: none; 
  background: url("images/cal_tooltip_white.png") no-repeat; 
  font-size: 110%; 
  height: 61px; 
  width: 140px; 
  padding: 5px; 
  color: #333; 
  z-index: 100;
  line-height: 1.2em;
}
.tooltip a {
  line-height: 1.2em;
}
.tooltip .cal_tool_time {
  font-weight: bold;
  margin-bottom: 2px;
}
.tooltip .cal_tool_loc {
  font-style: italic;
  color: #666;
}


/** =BUTTONS
----------------------------------------------- */
.buttons .button {
  margin-right: 7px;
}
.button { 
  float: left;
  margin: 0;
  border: 0; 
  padding: 0 14px 0 0; 
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  color: #333;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  outline: none;
}
.button span { 
  position: relative; 
  display: block; 
  white-space: nowrap; 
  padding: 0 0 0 14px; 
}
button:focus::-moz-focus-inner { 
  border-color: transparent !important; 
} 
button::-moz-focus-inner { 
  border: none;
  padding: 0;
}
button.icon_button span {
  padding-left: 8px !important;
}

/* primary button */
button.primary_button {
  font-weight: bold;
  color: #fff;
}
.primary_button,
.disabled.primary_button:hover { 
  background: url("images/button_primary_normal.png") right no-repeat; 
}
.primary_button span,
.disabled.primary_button:hover span { 
  height: 15px; 
  line-height: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: url("images/button_primary_normal.png") left no-repeat;
}
.primary_button:hover {
  background: url("images/button_primary_hover.png") right no-repeat; 
}
.primary_button:hover span {
  background: url("images/button_primary_hover.png") left no-repeat; 
}
.primary_button:active {
  background: url("images/button_primary_active.png") right no-repeat; 
  -ms-background-position-y: 1px; /* ie8 hack */  
}
.primary_button:active span {
  background: url("images/button_primary_active.png") left no-repeat; 
}

/* normal button */
.normal_button,
.disabled.normal_button:hover { 
  background: url("images/button_normal.png") right no-repeat; 
}
.normal_button span,
.disabled.normal_button:hover span { 
  height: 15px; 
  line-height: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: url("images/button_normal.png") left no-repeat;
}
.normal_button:hover {
  background: url("images/button_hover.png") right no-repeat; 
}
.normal_button:hover span {
  background: url("images/button_hover.png") left no-repeat; 
}
.normal_button:active {
  background: url("images/button_active.png") right no-repeat; 
  -ms-background-position-y: 1px; /* ie8 hack */  
}
.normal_button:active span {
  background: url("images/button_active.png") left no-repeat; 
}