.bc-livesearch-btn {
    background-image: url("ui-bg_glass_75_f0f2f4_1x400.png");
    margin-right: 0 !important;
}

.bc-livesearch-select,
.bc-livesearch-select a {
    color: #333;
}

.bc-livesearch-autocomplete-category {
    font-weight: bold;
    padding: 6px 364px 0 0;
    margin: 4px 0 0 -102px;
    line-height: 1.5;
    border-top: solid #a3a3a3 1px;
    text-align: right;
    height: 0px;
}

.bc-livesearch-menu {
    width: 100px;
    position: absolute;
    margin-right:0;
    border-radius: 4px 0px 0px 4px;
    z-index: 1;
}
