body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

.bc-livesearch-autocomplete-first {
    border: none;
}

.bc-livesearch-autocomplete-results {
    width: 350px;
    padding-left: 104px;
    background: #ffffff url(livesearch_bg.gif) repeat-y top left;
    font-size: .7em;
    border-color: #a3a3a3;
    min-height: 55px;
    overflow: hidden;
}

.bc-livesearch-autocomplete-notification {
    padding: 0;
    margin: 0;
    width: 190px;
    background-color: white;
    font-size: x-small;
    display: block;
    position: absolute;
    z-index: 0;
}

.bc-livesearch-autocomplete-msgicon {
    display: inline-block;
    float: left;
}

.bc-livesearch-autocomplete-message {
    display: inline-block;
}

.bc-header {
    background-color: #ADD8E6;
    border-bottom: solid #999999 1px;
    padding: 0.5em;
}

.bc-header h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.6em;
}

.bc-header-toolbox {
    float: right;
    font-size: 10px;
}

.bc-header-toolbox .bc-livesearch-menu {
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    border-color: #cecece;
}

.bc-header-toolbox .bc-livesearch-autocomplete {
    border-width: 1px 0;
    border-color: #cecece;
    border-style: solid;
    padding: 0;
    width: 150px;
}

.bc-header-toolbox .bc-livesearch-btn-search {
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border-color: #cecece;
}

.bc-content-frame {
    margin: 2em;
}

.bc-livesearch-menu a,
.bc-livesearch-autocomplete-results a {
    border: 1px solid #ffffff;
}

.bc-livesearch-menu .ui-menu-item a:hover,
.bc-livesearch-autocomplete-results .ui-menu-item a.ui-state-hover {
    margin: 0;
    border: 1px solid #999999;
    background: #e1e1e1 url('../images/ui-bg_glass_75_dadada_1x400.png') repeat-x scroll 50% 50%;
}

.bc-livesearch-profile img {
    float: left;
    margin-right: 10px;
    height: 32px;
    width: 32px;
}

.bc-livesearch-profile .user {
    float: left;
    width: 100px;
}

.bc-livesearch-profile .contact {
    float: right;
    width: 100px;
}

.bc-livesearch-profile .contact a {
    color: blue;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.bc-livesearch-profile .contact a:hover {
    border: none;
    text-decoration: underline;
}

.bc-livesearch-page .discreet,
.bc-livesearch-blog .discreet,
.bc-livesearch-comment .discreet,
.bc-livesearch-file .discreet,
.bc-livesearch-forum .discreet,
.bc-livesearch-forumtopic .discreet,
.bc-livesearch-forumtopic-comment .discreet,
.bc-livesearch-calendarevent .discreet,
.bc-livesearch-community .discreet {
    font-size: 100%;
}

.bc-livesearch-category-text {
    position: absolute;
    left: 0;
    width: 91px;
}

.bc-livesearch-more {
    color: #999999;
    display: block;
    position: absolute;
    width: 91px;
    margin-top: 15px;
    left: 0;
}

.bc-livesearch-more:hover {
    cursor: pointer;
    text-decoration: underline;
}

.discreet {
    font-size: 65%;
    color: #999999;
}

.bc-livesearch.ui-autocomplete-loading {
    background-image: url('pbar-ani.gif');
}

/* search results page */
.sras-header {
    text-align: center;
    padding-bottom: 1em;
}

.sras-header input {
    border: 1px solid #cecece;
    border-right: none;
    padding: 3px 0 4px 3px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.sras-header button {
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.sras-header .discreet {
    display: block;
}

#sras-content {
    font-size: 13px;
    font-family: Arial, sans-serif;
    width: 85%;
    overflow: hidden;
}

.sras-searchknobs {
    width: 150px;
    float: left;
    border-right: 1px solid #A3A3A3;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}

.sras-searchknobgroup {
    border-bottom: solid #A3A3A3 1px;
    padding: 1em 0;
}
.sras-searchknobs a,
.sras-searchknobs a:visited {
    text-decoration: none;
    color: #3A74A9;
}

.sras-searchknobs .content a {
    padding-left: 5px;
    line-height: 2em;
}

.sras-searchknobs p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.sras-searchknobgroup.last {
    border-bottom: none;
}

.sras-searchknobgroup label {
    display: block;
    font-weight: bold;
    margin: 10px 0 3px;
}

.sras-searchknobgroup input {
    font-size: 0.8em;
    border: 1px solid #cecece;
    border-right: none;
    width: 120px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    padding: 1px 0 2px 2px;
}

.sras-searchknobgroup button {
    font-size: 0.6em;
    padding: 0;
    margin-left: -0.5em;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.sras-searchknobgroup ul {
    margin: 0;
    padding: 0;
}

.sras-searchknobgroup li {
    display: block;
}

#sras-results {
    margin-left: 170px;
}

.sras-result {
    margin-bottom: 1em;
}

.sras-result-title,
.sras-result-title:visited {
    font-size: 123%;
    font-weight: bold;
    color: #3A74A9;
}

.sras-summary {
    margin: 0.2em 0;
}

.sras-highlight {
    font-weight: bold;
}

.sras-details,
.sras-details a {
    color: gray;
}

.sras-details img {
    width: 12px;
    height: 12px;
}

#sras-pagination {
    margin: 2em 0 0 170px;
    background-color: lightgray;
    text-align: right;
    padding: 0.4em
}
