
/**
* TinyMCE resource composition
*
*
* XXX TODO. Load all tiny css this way. (As, this only loads the ui css)
*
*/

@import url("../tinymce-plugins/theme-advanced-3.5.2/skins/karl/ui.css");
@import url("../tinymce-plugins/imagedrawer/css/ui.css");
@import url("../tinymce-plugins/kaltura/css/ui.css");

