.contentWrapper {
    font-size: 0.9em;
}

.portlet, .generic-portlet {
    font-size: 0.8em;
}

#community-filters {
    float: left;
    padding-top: 1em;
    width: 280px;
}

#community-filters label {
    width: 130px;
}

#community-filters ul {
    line-height: 32px;
}

#community-filters ul li {
    display: inline;
    padding-left: 12px;
}

#communitiy-search-box-wrapper {
    float: right;
    width: 360px;
    padding-right: 10px;
}

#footer .osi-logo {
    float: left;
}

#footer .extra {
    float: right;
}

ul.horListing li {
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

ul.autobox-hldr li {
    float: left;
    list-style-type: none;
    margin-right: 5px;
    padding: 0 5px 4px 0;
}
li.bit-box {
    padding: 1px 15px 2px 5px !important;
}
li.bit-box {
    padding-right: 15px;
    position: relative;
}
li.bit-box {
    background: none repeat scroll 0 0 #CEBEAA;
    margin-bottom: 3px;
    padding: 1px 5px 2px;
}
.bit-box {
    margin-top: 2px;
}

.koverview_body {
    clear: left;
    padding-top: 25px;
}

#peopledir-letterbox-wrapper {
    margin: 15px 0 0;
    padding: 5px 20px;
    font-size: 0.9em;
    background: none repeat scroll 0 0 #D7C09D;
    box-shadow: 0 0 0 2px #EADECC, 0 0 0 3px #DBC7A8;
}

.communityOptions {
    background-color: white;
    clear: both;
    height: 70px;
    margin: 5px 0 10px;
    padding: 0 5px;
    box-shadow: 0 0 0 2px #EADECC, 0 0 0 3px #DBC7A8;
}

#communities-content-wrapper h3 {
    clear: both;
}

.field input[type="submit"] {
    background-color: #47798F;
    background-image: -moz-linear-gradient(center top , #7298A8, #47798F);
    background-repeat: repeat-x;
    border-color: #47798F #47798F #2E4E5C;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.ui-grid-footer-text {
    float: left;
}

.ui-grid-pagination {
    float: right;
    padding: 0px 10px;
}

.ui-grid-pagination-icon {
    float: left;
    padding: 0px 5px;
}

.ui-state-default {
    float: left;
    padding: 0px 3px;
}

.ui-state-active {
    float: left;
    padding: 0px 3px;
}

.communityEntry {
    padding: 15px 0;
    border-bottom: 1px dotted;
}

.documentByLine {
    font-style: italic;
    font-size: 0.8em;
}

.kmoderator_badge, .kprivacy_badge {
    font-size: 0.7em;
    color: red;
}

