{{#messages}}
<div class="message-item {{^is_current_user}}other-user{{/is_current_user}}">
  <div class="message-item-avatar">
    <a href="{{creator_url}}">
      <img class="avatar" alt="{{creator_fullname}}" src="{{creator_image_url}}" />
    </a>
  </div>
  <div class="message-item-content">
    <a href="{{creator_url}}" ref="{{creator}}">{{creator_fullname}}</a>, 
    <span class="timeago"
          title="{{timeago}}">{{timeago}}</span>
    <div class="content">{{{html}}}</div>
  </div>
</div>
{{/messages}}