<div id="radar-panel">
    <div class="pushdownContent myprofileContent clearfix">

            {{#panels}}
            <div class="panel {{class}}">
                <h3>{{title}}</h3>
                
                <table class="content-listing">
                    {{#communities}}
                    <tr>
                    <td>
                        <a href="{{url}}">
                            <h4 class="pushDownList-title">{{title}}</h4>
                        <div  class="pushDownList-info">
                           {{#actions}}
                            <a href="{{url}}">{{title}}</a>
                            {{^last}} | {{/last}}
                            {{/actions}}
                        </div>
                        </a>
                    </td>
                    </tr>
                    {{/communities}}
                </table>


                <table class="content-listing fixed-layout">
                {{#contexts}}
                    <tr>
                    <td class="recent-activity-time">
                        <a href="{{url}}">
                            <div class="timeago myprofile-timeago" title="{{modified}}">{{modified}}</div>
                        </a>
                    </td>
                    <td class="recent-activity-title">
                        <a href="{{url}}">
                            <h4 class="pushDownList-title">{{title}}</h4>
                            <div class="pushDownList-info">
                                <cite>{{type}}{{#community}} in 
                                    <a href="{{url}}">
                                        {{title}}
                                    </a>
                                {{/community}}</cite>
                            </div>
                        </a>
                    </td>
                {{/contexts}}
                </table>

            </div>
            {{/panels}}

            <div class="panel myprofile">
            <p>
                <a class="profile-link" href="{{profile_url}}">Full Profile</a>
                | <a class="profile-link" href="{{logout_url}}">Logout</a>
            </p>

            <p>
                <a href="{{profile_url}}">
                    <img src="{{icon_url}}" style="width: 45px" />
                    {{profile_name}}
                </a>
            </p>

            <p>
              <span class="profileLabel">Department:</span>
              <span class="value">{{department}}</span>
              <br />
              <span class="profileLabel">Position:</span>
              <span>{{position}}</span>
              <br />
              <span class="profileLabel">Email:</span>
              <a href="mailto:{{email}}">{{email}}</a>
              <br />
              <span class="profileLabel">Extension:</span>
              <span>{{extension}}</span>
              <br />
              <span class="profileLabel">Phone:</span>
              <span>{{phone}}</span>
              <br />
            </p>

            </div>

    </div>
</div>
<script type="text/javascript">
    $('.timeago').timeago();
</script>
