<div id="radar-panel">
    <div class="pushdownContent clearfix">
        <div id="{{class}}" class="panel">
            <h3>Radar</h3>
            <ul id="sections" class="nav nav-list radartabs">
                <li class="active" data-radartab="home"><a href="#">Home <span class="messageCounter">3</span></a></li>
                <li data-radartab="approvals"><a href="#">Approvals</a></li>
                <li><a href="#">Topics <span class="messageCounter">4</span></a></li>
                <li><a href="#">Featured</a></li>
                <li><a href="#">Apps</a></li>
                <li><a href="#">Configure</a></li>
            </ul>
        </div>

        <div class="radarsection clearfix" data-radarsection="home">

            {{#home}}
            <div id="{{class}}" class="panel">
                <h3>{{title}}</h3>

                {{#communities}}
                <div class="panel-item clearfix {{#new}}newMessage{{/new}}">
                    <div class="panel-item-content">
                        <div>
                            <a href="{{url}}" class="fullname">
                                <strong>
                                    {{title}}
                                </strong>
                            </a>
                        </div>
                    </div>
                </div>
                {{/communities}}

                {{#contexts}}
                <div class="panel-item clearfix {{#new}}newMessage{{/new}}">
                    <div class="panel-item-content">
                        <div>
                            <a href="{{url}}" class="fullname">
                                <strong>
                                    {{title}}
                                </strong>
                            </a>
                        </div>
                        <div>
                            {{type}}
                        </div>
                        <div class="messagetext">
                            Modified by: {{creator_title}}
                        </div>
                        <div class="messagetext">
                            Date: {{modified}}
                        </div>
                    </div>
                </div>
                {{/contexts}}

                {{#items}}
                <div class="panel-item clearfix {{#new}}newMessage{{/new}}">
                    <div class="panel-item-content">
                        <a href="{{author_profile_url}}">
                            <img alt="{{author}}" src="{{image_url}}"
                                 class="avatar" />
                            <strong class="fullname">{{author}}</strong>
                        </a>
                        <div>
                            <a href="{{message_url}}" class="messagetext">
                                {{text}}
                            </a>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <small class="timestamp">{{info}}</small>
                    </div>
                </div>
                {{/items}}

            </div>
            {{/home}}

        </div>

        <div class="radarsection clearfix" 
             style="display: none;" data-radarsection="approvals">

          {{#approvals}}
          <div class="panel" style="margin-left: 20px;">
              <table class="content-listing">
                <thead>
                  <!--tr tal:condition="batch_info.batching_required" class="ui-grid-footer">
                    <th colspan="4" class="ui-widget-header" style="padding: 0;">
                      <div metal:use-macro="api.snippets.macros['gridstyle_batching']"/>
                    </th>:w
                    
                  </tr-->
                  <tr>
                    <th class="cldate">Date</th>
                    <th class="cltitle">Title</th>
                    <th class="cltype">Type</th>
                  </tr>
                </thead>
                <tbody>

                  {{#items}}
                  <tr>
                    <td class="cldate globalize-short-date">{{modified}}</td>
                    <td class="cltitle">
                      <a href="{{title_url}}">{{title}}</a>
                    </td>
                    <td class="cltype">{{type}}</td>
                  </tr>
                  {{/items}}

                </tbody>
                <!--tfoot tal:condition="batch_info.batching_required">
                  <tr class="ui-grid-footer">
                    <th colspan="4" class="ui-widget-header" style="padding: 0;">
                      <div metal:use-macro="api.snippets.macros['gridstyle_batching']"/>
                    </th>
                  </tr>
                </tfoot-->
              </table>
          </div>
          {{/approvals}}

        </div>

    </div>
</div>
