<div class="searchbox-pushdown-panel">
    <div class="pushdownContent clearfix">

        <span class="form-inline span8 offset2">

            <label class="checkbox">
                Search in:
                <select name="sb_scope" class="span2">
                    {{#scopeOptions}}
                    <option value="{{path}}" {{#selected}}selected{{/selected}}>{{label}}</option>
                    {{/scopeOptions}}
                </select>
            </label>
 
            <label class="checkbox">
                <input name="sb_staff_only" 
                       type="checkbox"
                       {{#staffOnly}}checked{{/staffOnly}}>
                Staff only content
            </label>
 
            <label class="checkbox">
                <input name="sb_past_year" 
                    type="checkbox" {{#pastYear}}checked{{/pastYear}}>
                Modified in past year
            </label>

        </span>

        {{#progress}}
        <b>PROGRESS</b>
        {{/progress}}
        <a class="sb-close">CLOSE</a>
    </div>
    {{#error}}
    <div class="pushdownContent clearfix">
        {{error}}
    </div>
    {{/error}}
    <div class="pushdownContent clearfix row">
        {{#columns}}
        <div class="span4">
            {{#groups}}
            <div class="sb-group">
                <div class="sb-group-header">
                    <span>{{label}}</span>
                    <span class="pull-right">
                        <a href="#">show more</a>
                        <a href="#">full search</a>
                    </span>
                </div>

                {{#items}}
                <div class="sb-item sb-item-{{category}}>
                    {{#debug}}
                    {{type}} <a href="{{url}}">{{title}}</a> {{modified}} {{modified_by}}
                    {{/debug}}
                </div>
                {{/items}}

            </div>
            {{/groups}}

            {{^groups}}
            <div>
                No results found.
            </div>
            {{/groups}}

        </div>

        {{/columns}}
    </div>
</div>
