<div class="searchbox-pushdown-panel">
    <div class="pushdownContent clearfix">

        <span class="form-inline span8 offset2">

            <label class="checkbox">
                Search in:
                <select name="sb_scope" class="span2">
                    {{#scopeOptions}}
                    <option value="{{path}}" {{#selected}}selected{{/selected}}>{{label}}</option>
                    {{/scopeOptions}}
                </select>
            </label>
 
            <label class="checkbox">
                <input name="sb_staff_only" 
                       type="checkbox"
                       {{#staffOnly}}checked{{/staffOnly}}>
                Staff only content
            </label>
 
            <label class="checkbox">
                <input name="sb_past_year" 
                    type="checkbox" {{#pastYear}}checked{{/pastYear}}>
                Modified in past year
            </label>

        </span>

        {{#progress}}
        <b>PROGRESS</b>
        {{/progress}}
        <a class="sb-close">CLOSE</a>
    </div>
    {{#error}}
    <div class="pushdownContent clearfix">
        {{error}}
    </div>
    {{/error}}
    <div class="pushdownContent clearfix row">
        {{#columns}}
        <div class="span4">
            {{#groups}}
            <div class="sb-group">
                <div class="sb-group-header">
                    <span>{{label}}</span>
                    <span class="pull-right">
                        <a href="#">show more</a>
                        <a href="#">full search</a>
                    </span>
                </div>
                {{#items}}
                {{#profile}}   {{! TODO }}
                <div class="sb-item sb-profile-item">
                    <a class="sb-item-1" href="{{url}}">TODO {{title}}</a>
                    <span class="sb-item-2">by {{modified_by}}, {{modified_ago}}</span>
                </div>
                {{/profile}}
                {{#page}}   {{! TODO }}
                <div class="sb-item sb-page-item">
                    <a class="sb-item-1" href="{{url}}">TODO {{title}}</a>
                    <span class="sb-item-2">by {{modified_by}}, {{modified_ago}}</span>
                </div>
                {{/page}}
                {{#reference}}   {{! TODO }}
                <div class="sb-item sb-reference-item">
                    <a class="sb-item-1" href="{{url}}">TODO {{title}}</a>
                    <span class="sb-item-2">by {{modified_by}}, {{modified_ago}}</span>
                </div>
                {{/reference}}
                {{#blogentry}}   {{! TODO }}
                <div class="sb-item sb-blogentry-item">
                    <a class="sb-item-1" href="{{url}}">TODO {{title}}</a>
                    <span class="sb-item-2">by {{modified_by}}, {{modified_ago}}</span>
                </div>
                {{/blogentry}}
                {{#forum}}   {{! TODO }}
                <div class="sb-item sb-forum-item">
                    <a class="sb-item-1" href="{{url}}">TODO {{title}}</a>
                    <span class="sb-item-2">by {{modified_by}}, {{modified_ago}}</span>
                </div>
                {{/forum}}
                {{#forumtopic}}   {{! TODO }}
                <div class="sb-item sb-forumtopic-item">
                    <a class="sb-item-1" href="{{url}}">TODO {{title}}</a>
                    <span class="sb-item-2">by {{modified_by}}, {{modified_ago}}</span>
                </div>
                {{/forumtopic}}
                {{#comment}}   {{! TODO }}
                <div class="sb-item sb-comment-item">
                    <a class="sb-item-1" href="{{url}}"> TODO {{title}}</a>
                    <span class="sb-item-2">by {{modified_by}}, {{modified_ago}}</span>
                </div>
                {{/comment}}
                {{#file}}   {{! TODO }}
                <div class="sb-item sb-file-item">
                    <a class="sb-item-1" href="{{url}}"> TODO {{title}}</a>
                    <span class="sb-item-2">by {{modified_by}}, {{modified_ago}}</span>
                </div>
                {{/file}}
                {{#calendarevent}}   {{! TODO }}
                <div class="sb-item sb-calendarevent-item">
                    <a class="sb-item-1" href="{{url}}">TODO {{title}}</a>
                    <span class="sb-item-2">by {{modified_by}}, {{modified_ago}}</span>
                </div>
                {{/calendarevent}}
                {{#community}}
                <div class="sb-item sb-community-item">
                    <a class="sb-item-1" href="{{url}}">{{title}}</a>
                    <span class="sb-item-2">{{num_members}} member{{num_members_plural}}</span>
                </div>
                {{/community}}
                {{#office}}   {{! TODO }}
                <div class="sb-item sb-office-item">
                    <a class="sb-item-1" href="{{url}}"> TODO {{title}}</a>
                    <span class="sb-item-2">by {{modified_by}}, {{modified_ago}}</span>
                </div>
                {{/office}}


                {{/items}}

            </div>
            {{/groups}}

            {{^groups}}
            <div>
                No results found.
            </div>
            {{/groups}}

        </div>

        {{/columns}}
    </div>
</div>
