<div class="searchbox-pushdown-panel">
    <div class="pushdownContent clearfix">

        <span class="form-inline span8 offset2">

            <label class="checkbox">
                Search in:
                <select name="search_scope" class="span2">
                    {{#scopeOptions}}
                    <option value="{{name}}" {{#selected}}selected{{/selected}}>{{label}}</option>
                    {{/scopeOptions}}
                </select>
            </label>
 
            <label class="checkbox">
                <input name="search_staff_only" 
                       type="checkbox"
                       value="" {{#staff_only_checked}}checked{{/staff_only_checked}}>
                Staff only content
            </label>
 
            <label class="checkbox">
                <input name="search_past_year" 
                    type="checkbox" value="" {{#past_year_checked}}checked{{/past_year_checked}}>
                Modified in past year
            </label>

        </span>

        {{#progress}}
        <b>PROGRESS</b>
        {{/progress}}
        <a class="close-searchbox">CLOSE</a>
    </div>
    {{#error}}
    <div class="pushdownContent clearfix">
        {{error}}
    </div>
    {{/error}}
    {{#goat}}
    <div class="pushdownContent clearfix row">

        <div class="span4">
        {{#column1}}
            {{#groups}}
            <div>
                <span>GROUP {{label}}</span>

                {{#items}}
                <div>
                    {{type}} <a href="{{url}}">{{title}}</a> {{modified}} {{modified_by}}
                </div>
                {{/items}}

            </div>
            {{/groups}}

            {{^groups}}
            <div>
                No results found.
            </div>
            {{/groups}}

        {{/column1}}
        </div>

        <div class="span4">
        {{#column2}}
            {{#groups}}

            <div>
                <span>GROUP {{label}}</span>

                {{#items}}
                <div>
                    <a href="{{url}}">{{title}}</a> {{modified}} {{modified_by}}
                </div>
                {{/items}}

            </div>
            {{/groups}}

            {{^groups}}
            <div>
                No results found.
            </div>
            {{/groups}}

        {{/column2}}
        </div>

        <div class="span4">
        {{#column3}}
            {{#groups}}

            <div>
                <span>GROUP {{label}}</span>

                {{#items}}
                <div>
                    <a href="{{url}}">{{title}}</a> {{modified}} {{modified_by}}
                </div>
                {{/items}}

            </div>
            {{/groups}}

            {{^groups}}
            <div>
                No results found.
            </div>
            {{/groups}}

        {{/column3}}
        </div>


    </div>
    {{/goat}}
</div>
