
body {
    font-family: sans-serif;
    margin: 2em;
    color: black;
    background-color: white;

    /* override stuff from themedstyles.... */
    text-align: left !important;
}

.text {
    background-color: yellow;
}
