<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
      <title>karl.contentfeeds demo</title>

      <!-- Load jQuery and jQuery UI, both JS and CSS -->
      <script src="http://www.google.com/jsapi"
	      type="text/javascript"></script>
      <script type="text/javascript">
          google.load("jquery", "1.4.2");
	      google.load("jqueryui", "1.8.2");
      </script>
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/smoothness/jquery-ui.css" />
      <script src="http://github.com/philikon/MockHttpRequest/raw/master/lib/mock.js"
	      type="text/javascript"></script>

      <!-- The widget plugin JS and CSS -->
      <script src="karl.contentfeeds.js" type="text/javascript" ></script>
      <link rel="stylesheet" href="karl.contentfeeds.css"/>
      <!-- Other dependencies (XXX transitionally, we can refer karl code
           outside this source directory. We will avoid this in the end.) -->
      <script src="../../jstemplate.js" type="text/javascript" ></script>
      <script src="../../jquery-plugins/jquery.timeago.js" type="text/javascript" ></script>
      <link rel="stylesheet" href="../../themedstyles.css"/>

      <!-- Page specific JS and CSS -->
      <link rel="stylesheet" href="demo.css"/>
      <script src="demo.js" type="text/javascript"></script>

      <!-- Templates -->

    <script type="text/tmpl" id="item_row">	
		<div class="feeditem">
			<div class="thumbnail">
		    	<img src="{%= item.thumbnail %}" />
			</div>

			<div class="feedoperation">
				<div class="{%= item.operation %}"><span>{%= item.operation %}</span></div>
				<div class="contenttype">{%= item.content_type %}</div>
				<div class="posttime">
				    <abbr class="timeago" title="{%= item.timeago %}">XXX</abbr>
                </div>
			</div>

			<div class="feedtext">
				<div class="firstline">{%= item.flavor %}</div>


				<div class="secondline">
		             <em>{%= item.description %}</em>
		            {% if (item.description!='') { %}
		              <br />
		            {% } %}
		            {% if (item.tags!=null) { %}
		              {% for (var i=0; i!=item.tags.length; i++) { %}
		                {% if (i==0) { %}
		                 <strong>Tags:</strong>&nbsp;
		                {% } %}
		                <a href="{%= item.tags[i] %}">{%= item.tags[i] %}</a>
		                {% if (i==item.tags.length) { %}
		                  ,
		                {% } %}
		              {% } %}
		            {% } %}
		            {% if (item.comment_count!=false) { %}
		              {% if (item.tags.length) { %}
		                |
		              {% } %}
		              <strong># comments:</strong>&nbsp;
		              {%= item.comment_count %} comments
		            {% } %}
	            </div>

			</div>

			<div class="visualClear"><!-- --></div>
		</div>
	</script>

    
    <!-- Templates -->

    <script type="text/tmpl" id="added_edited_other">
      <a href="{%= item.profile_url %}">{%= item.author %}</a> {%= item.operation %} a {%= item.content_type %}
      <a href="{%= item.url %}">{%= item.title %}</a>
        in <a href="{%= item.context_url %}">{%= item.context_name %}</a>.
    </script>

    <script type="text/tmpl" id="added_edited_community">
      <a href="{%= item.profile_url %}">{%= item.author %}</a> {%= item.operation %}
        Community <a href="{%= item.context_url %}">{%= item.context_name %}</a>.
    </script>

    <script type="text/tmpl" id="tagged_other">
      <a href="{%= item.profile_url %}">{%= item.author %}</a>
        tagged {%= item.content_type %} <a href="{%= item.url %}">{%= item.title %}</a>
        in Community <a href="{%= item.context_url %}">{%= item.context_name %}</a>
        as <a href="/tags/{%= item.tagname %}">{%= item.tagname %}</a>.
    </script>

    <script type="text/tmpl" id="tagged_community">
      <a href="{%= item.profile_url %}">{%= item.author %}</a> tagged
        Community <a href="{%= item.context_url %}">{%= item.context_name %}</a>
        as <a href="/tags/{%= item.tagname %}">{%= item.tagname %}</a>.
    </script>

    <script type="text/tmpl" id="joined_left">
      <a href="{%= item.profile_url %}">{%= item.author %}</a> {%= item.operation %}
        Community <a href="{%= item.context_url %}">{%= item.context_name %}</a>.
    </script>

  </head>

  <body>
    <h1>karl.contentfeeds demo</h1>

      <p>
        <a id="testpoll" href="">Poll</a>
      </p>

      <div class="feedOptions">
           
           <div id="feed-polling">
               Auto Update <img id="polling-info" src="/static/images/livesearch_info.png" alt="Click for Polling Info" /><br />
               <!-- only the class on #poll-indicator needs to change to change display. Options: on, off, polling, error -->
               <a href="#" id="poll-indicator" class="on"><span>
                   <img class="img-on" src="/static/images/feed-on.gif" alt="Polling is On" />
                   <img class="img-off" src="/static/images/feed-off.gif" alt="Polling is Off" />
                   <img class="img-polling" src="/static/images/feed-polling.gif" alt="Polling for New Content" />
                   <img class="img-error" src="/static/images/message_notice_icon.gif" alt="Polling Error. Click for Info" />
               </span></a>
               <div class="polling-details info">
                   <a href="#" class="close">close</a>
                   <p>Updating is done every 30 seconds. Click the button to turn updating on or off</p>
                   <ul>
                       <li><img src="/static/images/feed-on.gif" alt="Polling is On" /> Auto Update is On</li>
                       <li><img src="/static/images/feed-off.gif" alt="Polling is Off" /> Auto Update is Off</li>
                       <li><img src="/static/images/feed-polling.gif" alt="Polling for New Content" /> Auto Update for New Content</li>
                       <li><img src="/static/images/message_notice_icon.gif" alt="Polling Error. Click for Info" /> Auto Update Error. Click the button for info</li>
                   </ul>
               </div>
               <div class="polling-details errormessage">
                   <a href="#" class="close">close</a>
                   <p>The following error occurred:</p>
		   <div id="kf-errordetail"></div>
               </div>
           </div>

      </div>


      <div id="feedlist"></div>
      <p id="feedinfo">
        Last updated: <span id="polled">AGO</span><br />
        Last generation: <span id="last_gen"></span><br />
        Last index: <span id="last_index"></span><br />
        JSON Feed URL: <a id="json_feed_url" href="#">Unknown</a>
      </p>

  </body>

</html>
